<h1 id="la-haine-de-la-musique-pascal-quignard"><em>La haine de la musique</em>, Pascal Quignard</h1>
<blockquote>
<p>Sei Shônagon en l'an mil, dans le palais de l'impératrice, à Kyôto, à plusieurs reprises, dans lke journal intime qu'elle enroulait et enfouissait à l'intérieur de son oreiller en bois [...] nota les bruits qui l'émouvaient. Les sons qu'elle ressassa le plus, sans qu'il semble qu'elle en ait jamais pris toute la mesure, ou qu'elle en ait perçu les raisons tant la solitude et le célibat l'étouffaient, et qui à chaque fois ramenaient avec eux en elle le sentiment de la joie [...], consistaient dans le bruit des chariots de promenade sur le chemin sec, l'été, à la fin de la journée, quand l'ombre gagne tout le terrain visible de la terre. <strong>à scanner, page 21</strong></p>
</blockquote>
<blockquote>
<p>Des sons non visuels, qui ignorent à jamais la vue, errent en nous. Des sons anciens nous ont persécutés. <em>Nous ne voiyons pas encore. Nous ne respirions pas encore. Nous criions pas encore. Nous entendions.</em> (p.24)</p>
</blockquote>
<blockquote>
<p>Dans les instants le plus rare, on pourrait définir la musique : <em>quelque chose de moins sonore que le sonore</em>. Quelque chose qui <em>lie le bruyant</em> (Pour le dire autrement : un bout de sonore ligoté (p.24)</p>
</blockquote>
<p>Le paysage sonore, a longtemps été considéré comme une façon musicale d'écouter les sons de l'environnement, tout particulièrement car ces bruits se lient, se répondent et s'entrechoquent. Si l'on a considéré le paysage (le monde) comme musique, c'est car on a cru entendre un orchestre alors. Pourtant plus simplement, chronologiquement l'orchestre a entendu des paysages.</p>
<blockquote>
<p>L'hymne X du <em>Rigveda</em> définit les hommes comme étant ceux qui sans y prendre garde, ont pour terre l'audition. (p.39)</p>
</blockquote>
<blockquote>
<p>Chaque son est une minuscule terreur. <em>Tremit</em>. Il vibre (p.42)</p>
</blockquote>
<p>Chaque son(ne) est un cri, un cri panique depuis l'intérieur, depuis les tripes, vers le dehors, vers l'autre que soi. Le son se forme dans l'intime et se module, s'incarne en vibration pour habiter l'espace.</p>
<p>On dit bien que l'on chante avec le ventre, c'est là que loge l'estomac, les poumons, le coeur.</p>
<blockquote>
<p>Toute vibration qui approche le battement du coeur et le rythme du souffle entraîne une même contraction (p.53)</p>
</blockquote>
<blockquote>
<p><em>Les mots forment chaîne dans le souffle. Les images forment rêve dans la nuit. Les sons aussi forment chaîne le long des jours.</em> (p. 55)</p>
</blockquote>
<blockquote>
<p>La vieille corde asème vibre peu à peu [...] l'émotion tombe sur nous d'un seul coup. Tout bouleverse soudain à nouveau tous les rythmes du corps mais rien qui ait réellement sens n'a pu être fourni. (p. 61)</p>
</blockquote>
<p>L'atmosphère efface la raison, l'atmosphère, autopoïétique, génère elle même l'émotion, elle force à faire -re-surgir du sensible, une impression d'espace étendu. L'atmosphère retrace fugacement l'horizon rêvé, elle retape la scène et brise souffle (sous les murs, les mûres). L'on a l'impression d'y flotter éthérant un instant. La bourrasque passée, le sujet retombe brusquement au sol, ébété quelque instants, surchargé du ressenti expédié dans son souffle.</p>
<blockquote>
<p><strong>à caser important</strong> Il y a un vieux verbe français qui dit ce tambourinement de l’obsession. Qui désigne ce groupe de sons asèmes qui toquent la pensée rationnelle à l’intérieur du crâne et qui éveillent ce faisant une mémoire non linguistique. <em>Tarabust</em> (p. 62)</p>
</blockquote>
<blockquote>
<p>Je recherche le tarabustant sonore datant d'avant le langage. (p. 62)</p>
</blockquote>
<p>A lier avec l'émotion du bruit blanc.</p>
<blockquote>
<p>Avec l'oeil seulement on &quot;entend&quot; les sensibles. (p. 71)</p>
<p>Je propose d'appeler &quot;note inouïes&quot; ces sons écrits injouables qui font penser à ce que les gramairiens nomment les <em>consonnes ineffables</em> (le p dans sept) (p. 71)</p>
</blockquote>
<blockquote>
<p>Ce ne fut pas la pluie qui tambourinait.</p>
<p>Ce fut le tambourin qui appelait la pluie.</p>
<p>C'est Thor qui tient le marteau. (p.73)</p>
</blockquote>
<blockquote>
<p><em>Entendre, c'est être touché à distance</em> (p. 108)</p>
</blockquote>
<blockquote>
<p><strong>S'absenter de l'environ n'est pas possible pour l'ouïe. Il n'y a pas de paysage sonore parce que le paysage suppose l'écart devant le visible.</strong> <em>Il n'y a pas d'écart devant le sonore.</em></p>
<p>Le sonore est le pays qui ne se contemple pas. Le pays sans paysage. (p.110)</p>
</blockquote>
<blockquote>
<p>L'écho est la voix de l'invisible. [...] Dans l'écho, l'émetteur ne se rencontre pas. C'est le cache cache entre le visible et l'audible. (p.149)</p>
</blockquote>
<p><em>Dans le mémoire mettre la légende d'Echo et de Pan</em></p>
<blockquote>
<p>La lumière a ses chants. C'est pour leur cri que j'aime les feux.</p>
</blockquote>
