<h1 id="le-miroir-noir-enquête-sur-le-côté-obscur-du-reflet-arnaud-maillet"><em>Le miroir noir, enquête sur le côté obscur du reflet</em>, Arnaud Maillet</h1>
<h2 id="claude-glass-instagram">Claude Glass &amp; Instagram</h2>
<p>Le Claude Glass/Claude Mirror qui reste en filigrane tout au long du livre comme non pas le miroir noir, mais une certaine approche du paysage. Où on applique une sorte de filtre à ce que l'on observe en regardant à travers une <em>glace</em> aux différentes teintes. On colore ainsi l'espace observé.</p>
<blockquote>
<p>&quot;Gilpin regrette que la vue qu'il a par la fenêtre d'un ermitage en Ecosse [...] se fasse à traversdes carreaux de fenêtres qui sont en partie composés de verres rouges et verts.[...] ces carreaux offrent un noubel et surprenant effet, transformant &quot;l'eau en une cataracte de feu, ou en cascade de liquide vert-de-gris&quot;[...]. *</p>
</blockquote>
<p>Ces verres colorés sont certainements amusants, mais ils seraient mieux, écrit</p>
<blockquote>
<p>Gilpin, <strong>accrochés dans des cadres avec des poignées afin de les utiliser selon son bon plaisir, que d'être fixés ainsi en permanence, imposant au spectateur leur constante coloration.</strong></p>
</blockquote>
<p>&lt;- commentaire par l'auteur sur W. GILPIN, <em>Observations, Relative chiefly to Picturesque Beauty, Made in the year 1776, on Several Parts of Great Britain: Particularly the Highlands of Scotland.</em>, R. Blamire, Londres, 1789, 2 vol., vol. I, p.124 &lt;-</p>
<p>Ici ce passage, lu en 2022, interpelle clairement, ces verres teintés que l'on appliquerait sur une vue paysagère (au sens que lui donne A. Cauquelin de fenêtre sur un espace). Cette histoire est semblable aux filtres que l'on a retrouvé tout d'abord sur des outils comme Photoshop, puis accessibles au grand public via Instagram, où l'on applique un filigrane numérique teinté, accentuant, au choix, ombres lumières, couleurs... Ces mêmes filtres qui se sont par la suite retrouvés intégrés aux logiciels de photographe des smartphones (ainsi que certains modèles d'appareil photo). Le paysage regardé à travers une lentille numérique, une couche de code venant se superposer sur l'image, la transformant en quelque chose de plus &quot;vivant&quot; et &quot;accrocheur&quot; que la photo si laissée brute. La Claude Glass était en quelque sorte le prototype de ce principe de créations de vues à la volée.</p>
<h3 id="enchaînement-des-filtres-continuité-et-discontinuité">Enchaînement des filtres, continuité et discontinuité</h3>
<blockquote>
<p>&quot;L'auteur [Gilpin encore] est &quot;transporté rapidement d'une image à une autre. Une succession d'images hautement colorées glisse continuellement devant l'oeil.&quot; Il arrive même que &quot;le coup d'oeil éphémère d'une bonne composition arrive à les unir<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a>.&quot;</p>
</blockquote>
<p>On note ici que ce coup d'oeil sur la suite d'images vues (Les images sont l'objet de la vision et le &quot;coup d'oeil&quot; est alors le regard porté sur les vues, le <em>regard se porte alors sur la suite de vues pour reconstituer un paysage</em>.</p>
<p>Au contraire l'auteur écrit plus loin que Proust fait courir son narrateur &quot;dans un train de fenêtre en fenêtre &quot;pour rapprocher, rentoiler les fragments intermittents et opposites<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a>&quot; d'un paysage contemplé au petit matin&quot;(p. 137)</p>
<p>Maillet prend soin de préciser que chez Gilpin c'est une suite continue d'images qui re crée une autre image alors que chez Proust c'est une discontinuité d'images qui sont rassemblées mentalement pour en fabriquer un autre. L'un enchaîne les filtres pour créer une image nouvelle et l'autre recompose vue à vue un paysage (inexistant car seulement rêvé par ce que l'on a vu et ce que l'on cherche à revoir dans chaque fragment).</p>
<h2 id="sur-le-miroir-convexeconcave-et-les-déformations-induites.">Sur le miroir convexe/concave et les déformations induites.</h2>
<blockquote>
<p>&quot;L'horoptère est la portion d'espace comprise entre une surface courbe concave proche de l'observateur et une autre surface courbe, convexe, plus éloignée. Tous les objets situés dans cet espace seront vus nets. Tous ceux situés un peu en dehors induisent une diplopie corrigée au niveau cortical, mais à l'origine de la <em>sensation de relief</em>. Je parlerais donc [...] non d'&quot;images visuelles&quot; ou &quot;rétiniennes&quot; mais d'&quot;images mentales&quot; qui ne sont ni planes ni courbes !&quot; <strong>(p.78)</strong></p>
</blockquote>
<blockquote>
<p>&quot;[...] car un tableau ne représente pas une image vue à travers un oeil : l'objet réel, tout comme l'objet peint, sont tous deux objets du regard. Un tableau n'est pas image de la vision. [...] Si la vue est toujours vue de quelque chose, elle n'est pas vue d'elle même.&quot; <strong>(p.80)</strong></p>
</blockquote>
<h2 id="par-rapport-au-miroir-comme-moyen-de-regarder-la-nature">Par rapport au miroir comme moyen de regarder la nature</h2>
<p>(en lui tournant le dos) :</p>
<h3 id="la-réalité-de-son-reflet">La réalité de son reflet:</h3>
<blockquote>
<p>&quot; &quot;il ne s'agit plus de la reproduction de la nature par un tableau,&quot; mais d'un &quot;tableau [qui] est projeté dans la nature&quot;.&quot; <strong>J. BALTRUSAITIS, <em>Aberrations...</em>, p227</strong></p>
<p><strong>(p.113)</strong></p>
</blockquote>
<blockquote>
<p>&quot;[...] la nature reflétée par le miroir convexe noir est toujours fictive et incomplète, c'est-à-dire en défaut par rapport à la nature elle-même, parce que reflétée (aspect mécanique) et réduite (aspect fragmentaire) par ce miroir. Cependant cette double imperfection du reflet de la nature tendrait alors à être [...] idéalisée par le miroir lui-même [...] le miroir tend à abstraire.&quot; <strong>(p.128)</strong></p>
</blockquote>
<blockquote>
<p>[L'art] &quot;est fictif quant à la vérité et [...] incomplet quant à la ressemblance&quot;.</p>
<p><strong>(source inconnue, page 128)</strong></p>
</blockquote>
<h2 id="limagination-comme-moyen-de-voir-le-monde">L'imagination comme moyen de &quot;voir&quot; le monde:</h2>
<blockquote>
<p>&quot;Imagination est un terme subjectif; il concerne les objets non tels qu'ils sont, mais tels qu'ilsa apparaisent à l'esprit du poète. L'imagination est cette lentille intellectuelle [intellectual lens] à travers l'intermédiaire de laquelle l'observateur poétique voit les objets de son observattion, modifiés à la fois dans leur forme et leur couleur.&quot;</p>
</blockquote>
<p>Christopher WORDSWORTH, <em>Memoirs of Wiliam Wordsworth</em>, éd. Henry Reed, Ticknor, Reed and Fields, Boston 1851, 2 vol., vol II, p. 487</p>
<p><em>(traduction par l'auteur A.M., p. 117)</em></p>
<p>## L'invention selon les néo-classiques, la machine</p>
<blockquote>
<p>&quot;L'invention est &quot;entendue comme la faculté de combiner de manière nouvelle les corps meorcelés pris de la nature individuelle, comparés, arrangés. L'invention est ce qui fait tenir ensemble les membres de la combiantoire<a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a>&quot;. La supériorité du peintre sur le rendu mécanique est éclatante; elle met en valeur le style et la composition [...] et affirme par conséquent la liberté de l'artiste en tant qu'homme sur la machine.&quot; (p.130)</p>
</blockquote>
<p>Les peintres (impressionistes ici), au fur et à mesure de leurs utilisation d'un medium (le miroir ici mais on pourra parler en mêmes termes de la photographie) ne s'en servent alors plus comme <em>mode de vision</em> que leurs caractéristiques visuelles<a href="#fn4" class="footnoteRef" id="fnref4"><sup>4</sup></a>, plutôt une approche de la sensation du regard que des aspects purement techniques de la vision.</p>
<hr />
<h2 id="paysage-souvenir">Paysage souvenir</h2>
<p>cf. Proust un peu plus tôt j'imagine</p>
<blockquote>
<p>&quot;si finalement nous n'éprouvons pas &quot;plus de plaisir, à [nous] rappeler au moyen de quelques lignes tracées légèrement, les sites que nous avons admirés, que lousqnous en avons joui en nature<a href="#fn5" class="footnoteRef" id="fnref5"><sup>5</sup></a>&quot;&quot;.(p.138)</p>
</blockquote>
<h2 id="miroir-dépréciateur">Miroir dépréciateur</h2>
<h3 id="lien-potentiel-avec-le-jv">Lien potentiel avec le jv</h3>
<blockquote>
<p>&quot;Ils ont un aspect flou qui montre une chose tout en ne la montrant point, probablement dans l'idée d'en suggérer une troisième différente.&quot;<a href="#fn6" class="footnoteRef" id="fnref6"><sup>6</sup></a></p>
<p><em>(à propos des miroirs nouirs de Richter, n°160 du répertoire de son oeuvre)</em></p>
</blockquote>
<p>Là on a peut être un lien avec le fait que les polygones loins soient hyper simplifiés, forme abstraite qui avec la lumière en formerait une autre idk?</p>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>W. GILPIN, <em>Remarks on Forest Scenery...</em>, p.67<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>M. PROUST, <em>A l'ombre des jeunes filles en fleur,</em> in <em>A la recherche du temps perdu</em>, Robert Laffont, Paris, 1987, 3 vol., vol 1, p. 543. L'auteur suggère d'aller voir Deleuze au sujet de la vision cinématographique liée à cette desc.<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>J.-P. CRIQUI, G.A. TIBERGHIEN, <em>A propos de l'art de la tache. Entretien avec Jean-Claude Lebensztejn</em>, article cité, p.130-131<a href="#fnref3">↩</a></p></li>
<li id="fn4"><p>J.-P. CRIQUI, G.A. TIBERGHIEN, <em>A propos de l'art de la tache. Entretien avec Jean-Claude Lebensztejn</em>, article cité, p.130-131<a href="#fnref4">↩</a></p></li>
<li id="fn5"><p>W. GILPIN, <em>Trois essais...</em>,p.45<a href="#fnref5">↩</a></p></li>
<li id="fn6"><p>G. RICHTER, <em>Textes</em>, trad. C. M2tais Bürhendt, dir. X. DOuroux, Les Presses du réel, Dijon, 1995, p.258<a href="#fnref6">↩</a></p></li>
</ol>
</div>
