<head>
  <meta charset="UTF-8">
  <title>EsoComp | Command</title>
  <link rel="stylesheet" href="style/commander.css">
</head>

<body>
  <h2 id="out">ESOCOMP 4.3.1<br>
Accessing R’s...<br>
Autorisation Granted !</h2>
    <textarea id="comline" rows="4" cols="24" spellcheck="false" autofocus="true">
</textarea>>
    <h2 id="output"></h2>
</body>

<script src="scripts/commander.js"></script>
