<head>
  <meta charset="UTF-8">
  <title>Run.DB</title>
  <link rel="stylesheet" href="style/main.css">
</head>

<body>
  <h2 id="out">Run.DB 4.3.1<br>
Accessing R’s...<br>
Autorisation Granted !</h2>
    <textarea id="comline" rows="4" cols="24" spellcheck="false" autofocus="true">
</textarea>
    <h2 id="output"></h2>

<div class="browser texts">
  <b>TEXTES</b>/<br><br>
  <div class="overflow"><a id="0" onClick="text_click(this.id)" found="true" metadata="./texts/disclaimer.txt">DISCLAIMER.txt</a></div>
  <div class="overflow"><a id="1" onClick="text_click(this.id)" found="false" metadata="./texts/ff818181818181818181818181ff.txt">ff818181818181818181818181ff.txt</a></div>
  <div class="overflow"><a id="2" onClick="text_click(this.id)" found="false" metadata="./texts/28a9d46aa9d4a9d4a96aa9a9a928.txt">28a9d46aa9d4a9d4a96aa9a9a928.txt</a></div>
  <div class="overflow"><a id="3" onClick="text_click(this.id)" found="false" metadata="./texts/20bf546a41346135012a41a4bf48.txt">20bf546a41346135012a41a4bf48.txt</a></div>
  <div class="overflow"><a id="4" onClick="text_click(this.id)" found="false" metadata="./texts/aa55aa55aa55aa55aa55aa55aa55.txt">aa55aa55aa55aa55aa55aa55aa55.txt</a></div>
</div>
<div class="browser runes">
  <b>RUNES</b>/<br><br>
  <div class="overflow"><a id="1r" onClick="text_click(this.id)" metadata="./runes/ff818181818181818181818181ff.txt" found="false">████████████.rm</a></div>
  <div class="overflow"><a id="2r" onClick="text_click(this.id)" metadata="./runes/28a9d46aa9d4a9d4a96aa9a9a928.txt" found="false">█████████████.rm</a></div>
  <div class="overflow"><a id="3r" onClick="text_click(this.id)" metadata="./runes/20bf546a41346135012a41a4bf48.txt" found="false">█████████████████.rm</a></div>
</div>
<div id="serial"></div>
<div id="displayer">
  <br><br><br><br><br><br><br>
  ...........................................................<br>
THIS IS A CLASSIFIED ARCHIVE DO NOT ATTEMPT TO READ FURTHER IF YOU ENDED UP HERE BY MISTAKE<br>
PLEASE DELETE IMMEDIATELY THIS SOFTWARE FROM YOUR COMPUTER AND ANY OTHER DEVICE WHERE YOU MAY HAVE IT<br>
THIS IS A DOCUMENT CYPHERED BY XXXX AND NO ONE EXCEPT AN GRADE S OFFICER HAS ACCESS TO THE FULL SYSTEM<br>
ONCE AGAIN<br>
DO NOT READ THIS ANY FURTHER<br>
DO NOT ATTEMPT ANYTHING ON THIS SOFTWARE<br>
...........................................................
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
The following documents were originally handwritten by an individual (AXXXXX DXXXXX), living in France at the time of first encounter with XXXXXXXX. We still can't resolve where exactly the encounters happened and how many they were. This may have a link to further inspection.</h3>
<br><br><h3>ENTRY 1                    MAY 20XX</h3>

Alors que les lumières s'affaisaient, je pressentais que l'une d'elles était proche. Ses contractions me remontaient du coeur au crâne, me parlant de sa forme, de ses noeuds. Je descendais dans la cave, là où elle m'appelait. Coulant entre mes yeux elle semblait d'abord être une aurore tordue, agile et éblouissante. Certains instants, les rebords diffus de son enveloppe scintillaient, en proie à un courant parasite. Je tremblais de tout, fasciné par sa présence et je balbutie que je l'aimais. Elle me chuchoteras leurs premiers secrets.<br><br>
<span>
row[1]:<br>
col[1]:<br>
row[14]:<br>
col[8]:<br>
(CTRL+ENTREE pour effectuer le déplacement).</span><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


</body>

<script src="scripts/commander.js"></script>
<script src="scripts/matrix.js"></script>
<script src="scripts/filedoc.js"></script>
