@import "fonts.css";
@import "variables.css";
html{
  overflow-x:hidden;
  overflow-y: auto;
}
textarea{
  background-color: var(--background);
  color: var(--text);
  border: solid 0px;
  font-size: 1.4em;
  overflow-y: hidden;
  resize: none;
  font-family: "monoo";
  text-transform: lowercase;
}
textarea:focus{
  outline: none !important;
}

h2{
  font-weight: normal;
  margin: 0px;
  color: var(--blue);
  font-size: 1.2em;
}
