@import "fonts.css";
@import "variables.css";
body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text); /* color of the scroll thumb */

}
p{
  font-family: "spacem";
  font-size: 1em;
  color: var(--text);
  width: 90%;
  position: relative;
  left:5%;
  top:15%;
  text-align: justify;

}

h3{
  margin-bottom: 2em;
  text-align: justify;
  text-align-last: justify;
  width: 90%;
  position: relative;
  left:5%;
  top:10%;
  font-weight: normal;
  font-family: "spacem";
  font-size: 1.2em;
  color: var(--blue);
}
