@font-face {
 font-family: "heal";
 src: url("fonts/HealTheWebB-Regular.otf") format("opentype");
}

@font-face {
  font-family: "monoo";
  src: url("fonts/FiraCode-Retina.ttf") format("truetype");
}
@font-face {
  font-family: "spacem";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
}
