@import "fonts.css";
@import "variables.css";

html{
  overflow: hidden;
}

textarea{
  position: absolute;
  left: 30px;
  top:130px;
  height:90px;
  background-color: var(--background);
  color: var(--text);
  border: solid 0px;
  font-size: 1.4em;
  overflow-y: hidden;
  resize: none;
  font-family: "monoo";
  text-transform: lowercase;
}
textarea:focus{
  outline: none !important;
}
#out{
  margin-top: 0px;
  position: absolute;
  top: 30px;
  left:30px;
}
h2{
  font-weight: normal;
  font-family: "spacem";
  text
  margin: 0px;
  color: var(--hilight);
  font-size: 22px;
  line-height: 29px;
}
#grid{
  position : absolute;
  top : 236px;
  left: 30px;
  width: auto;
  height: auto;
}
.cell{
  position: relative;
  width: 30px;
  height: 30px;
  border: solid 1px var(--blue);
  background-color: var(--background);
}

.cell.on{
  background-color: var(--text);
}

.cell.valid{
  background-color: var(--blue);
}

.cell.invalid{
  background-color: var(--hilight);
}

@keyframes correct {
  50% {
    background-color:#00FF00;
  }
  100% {
    background-color:var(--text);
  }
}

@keyframes othercells {
  50% {
    border:2px solid #00FF00;
  }
  100% {
    background-color:solid 1px var(--blue);
  }
}

.browser{
  position: relative;
  text-align: justify;
  font-family: "spacem";
  font-size: 18px;
  color: var(--text);
  z-index: 3;
}
.overflow{
  width:170px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 23px;
  break-inside: avoid;
}
.overflow:hover{
  color:var(--hilight);
  overflow-x: auto;
  width: auto;
}

.texts{
  position: absolute;
  top: 30px;
  left: 451px;
}
.runes{
  position: absolute;
  top:537px;
  left:451px;
}
.texts b, .texts a[found="true"]{
  color:var(--blue);
}

.runes a[found="false"],.runes a[found="false"]:hover{
  display: none;
}
.runes b, .runes a[found="true"]{
  color: var(--hilight);
}
#displayer::-webkit-scrollbar{
  display: none;
}
#displayer span{
  opacity: 0%;
}
#displayer span:hover{
opacity: 100%; cursor: help;
}
#displayer{
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 30px;
  top:30px;
  width:450px;
  height: 870px;
  overflow-y: auto;
  font-size: 18px;
  line-height: 23px;
  font-family: "spacem";
  text-align: center;
}
#displayer h3{
  margin-bottom: 69px;
  font-weight: normal;
  color: var(--hilight);
  white-space: pre;
  text-align: justify;
}

#displayer img{
  width:450px;
  height: 870px;
  object-fit:contain;
}

#serial{
  color: var(--text);
font-family: "spacem";
font-size: 15px;
/* transform: rotate(90deg); */
right: 30px;
text-align: center;
width: 450px;
position: fixed;
top: 10px;
/* letter-spacing: 3px; */}
