@import "fonts.css";
@import "variables.css";

.cell{
  position: absolute;
  width: 30px;
  height: 30px;
  border: solid 1px var(--blue);
  background-color: var(--background);
}

.cell.on{
  background-color: var(--text);
}

.cell.valid{
  background-color: var(--blue);
}

.cell.invalid{
  background-color: var(--hilight);
}
