@import "fonts.css";


:root{
  --background : #000000;
  --hilight : #FF0000;
  --text : #EBEAEA;
  --blue : #0000FF;
}
html{
  resize: none;
}
::selection {
	color: var(--background);
	background-color: var(--text);
}

body{
  user-select: none;
  background-color: var(--background);
  color: var(--text);
  font-family:"monoo";
  font-size: 1.3em;
}
