<h1 id="section-ii-atmosphères-paysages">Section II : Atmosphères &amp;
Paysages</h1>
<p>Première page = un grand ciel ou un grand dégradé évocateur + cette
phrase. + <strong>DEBUT SON CHIHEI</strong> <a
href="https://www.youtube.com/watch?v=3HukOv1Ye7E">Chihei Hatakeyama -
Starlight and Black Echo</a></p>
<blockquote>
<p>Atmospheres, to be sure, are not things<span
class="sidenote-wrapper"><label for="sn-0" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-0" class="margin-toggle"/><span
class="sidenote">Gernot Böhme, « The art of the stage set as a paradigm
for an aesthetics of atmospheres », Ambiances, 10 February 2013,
connection on 22 September 2020 <a
href="http://journals.openedition.org/ambiances/315">lien</a><br />
<br />
</span></span></p>
</blockquote>
<p>L’atmosphère est un “quasi objet” selon Böhme, elle est un
objet-processus, à la manière du paysage elle <em>est et se crée</em>
par interaction entre un instant, un espace et un sujet sensible. Toute
la tension de l’atmosphère repose, elle aussi sur l’aisthesis et sur
l’attention portée par un sujet spectateurice. C’est une relation entre
le subjectif et l’objectif qui fait le lien entre qualités dans l’espace
et sensations en puissances dans la personne<span
class="sidenote-wrapper"><label for="sn-1" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-1" class="margin-toggle"/><span
class="sidenote">Böhme, <em>The theory of atmospheres and its
applications</em>, Interstices 16<br />
<br />
</span></span>.</p>
<hr />
<blockquote>
<p>The reason is primarily that atmospheres are totalities: atmospheres
imbue everything, they tinge the whole of the world or a view, they
bathe everything in a certain light, unify a diversity of impressions in
a single emotive state<span
class="sidenote-wrapper"><label for="sn-2" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-2" class="margin-toggle"/><span
class="sidenote">Gernot Böhme, « The art of the stage set as a paradigm
for an aesthetics of atmospheres », Ambiances, 10 February 2013,
connection on 22 September 2020 <a
href="http://journals.openedition.org/ambiances/315">lien</a><br />
<br />
</span></span></p>
</blockquote>
<p><img src="../../BiblioIconoSono/Images/monet_nymphéas.jpg" /></p>
<hr />
<blockquote>
<p>Ecouter, c’est se mettre soi-même en tension, et être écoutant
confère à la fois le sentument d’être dans l’espace et de faire résonner
l’espace. […] En faisant résonner le son, en ressentant l’atmosphère,
l’écoutant fait résonner l’espace et, ce faisant, il crée l’espace.
(p. 209)<span
class="sidenote-wrapper"><label for="sn-3" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-3" class="margin-toggle"/><span
class="sidenote">Le son du théâtre<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>L’atmosphère n’implique nulle mesure des distances ou perspective. Il
y a plutôt la sensation de quelque chose de différent, d’une présence ou
d’une sensation. Un <em>je ne sais quoi</em> dans l’air, la chaleur qui
fait trembler la vue.</p>
<p>Elle se retrouve énormément dans l’importance du climat dans les
scènes cinématographiqes, selon Emil Leth Meilvang, dans son article
<em>Erotics of Weather</em>, où il analyse des livres de la collection
“Côté Cinéma / Motifs”, notamment ceux sur la pluie, le vent et la
neige. L’intuition est juste, car si l’atmosphère réside dans l’air,
l’on peut penser que le climat extérieur et les variations
atmosphériques qui en résultent jouent sur notre ressenti: il est
indéniable que la lourdeur pèse “comme un couvercle” sur l’humeur.</p>
<p><img src="../../BiblioIconoSono/Images/Fig3.png" /></p>
<hr />
<p>L’atmosphère par rapport au paysage, c’est le verbe et la marque
temporelle. L’atmosphère arrive, elle fait et transgresse les limites du
fini et de l’infini. C’est ce flottement hagard avant la gelure, la
paupière lourde sous le zénith. La force des choses présente dans le
paysage, une puissance tranquille existant dans l’entre deux.</p>
<hr />
<blockquote>
<p>The spaces generated by light and sound are no longer something
perceived at a distance, but something within which one is enclosed.</p>
</blockquote>
<p><img
src="../../whsop_g/PSM_V13_D184_Sound_wave_experiment.jpg" /></p>
<p>L’atmosphère est à l’image de la teinte chez Rothko, elle semble
indépendante de la structure spatiale et pourtant elle crée l’accord,
définit une voie(x) parmi les possibles flottants.</p>
<p><strong>FIN SON CHIHEI</strong></p>
<hr />
<p><img
src="../../BiblioIconoSono/Images/Untitled,%20Black%20on%20Gray,%201969,%20Rothko.jpg" /></p>
<blockquote>
<p>Rouge condensé par noir rouge rendu dense par noir<br />
progression de rouge dense comme des marches de lave<br />
rouge dense comme des marches de lave pour nous réunir là<br />
nous réunir avant d’avoir à effectuer les passages<br />
marches rouges nous mènent à trois chambres rouges<br />
chambres de lumière rouge dense rouge condensé par noir<span
class="sidenote-wrapper"><label for="sn-4" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-4" class="margin-toggle"/><span
class="sidenote">John Taggart, <em>Le poème de la Chapelle Rothko</em>,
trad. Pierre Alféri et Emmanuel Hocquard, Éditions Royaumont, Collection
Un bureau sur l’Atlantique, 1990 extrait<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>L’espace s’arrête au fini, les sens tendent vers l’illimité et entre
les sens, sous la tension attentive de l’écoute et du regard, se niche
la sensation que quelque chose se passe. On perd peu à peu pied et du
ressenti découle une forme de vertige, un évènement non-situable, éthéré
qui baigne l’espace à la façon d’une ondée. Le signal romantique
déclenché fait découler de l’au-dessous la forme paysaagère.</p>
<hr />
<p>L’atmosphère générée est produite de par la résonnance sujet et
espace, c’est son, point de départ, l’attaque de l’archet sur la corde
asème au travers l’écho. Les deux s’accordent, vibrant soudain sur un
certain accord. L’atmosphère alors, s’étendrait, soufflant sur l’espace,
respirant les murs et contractant les vides. Nos poumons se remplissent
de toutes les sensations que nos yeux et oreilles captent, les étalonne
à la hauteur de sonance générale.</p>
<blockquote>
<p>Reverb at once <em>represents</em> space and <em>constructs</em> it.
<span
class="sidenote-wrapper"><label for="sn-5" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-5" class="margin-toggle"/><span
class="sidenote"><em>Space within Space: Artificial Reverb and the
Detachable Echo</em> - Jonathan Sterne<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>Le paysage re-sonne en nous, éternellement, à la manière du choeur
dans les cathédrales.</p>
<hr />
<p>[room tone forest et room tone room]</p>
<p>Le paysage ouvert ne laisse que peu survenir sa résonnance, mais dans
de rares instants, si l’on se place à un certain point et que l’on
articule, une réponse se mêle et semble s’étirer jusqu’au fond du
visible.</p>
<hr />
<p>Daphnis raconte à Chloé que Echo, mortelle, élevée par les nymphes et
muses, chantait si bien que Pan, jaloux et frustré par le talent d’Echo
ainsi que par le fait qu’elle l’ait repoussé, a soufflé la panique sur
les hommes alentours. Ces derniers la déchirèrent alors qu’elle chantait
encore et “dispersèrent ses membres pleins d’harmonie”. Et ainsi Echo,
éparpillée sur la Terre, continue éternellement de contrefaire les sons,
d’imiter ce qui a été émis.</p>
<p>En production musicale, lorsque l’on applique un effet à un son, la
sortie modifiée est qualifiée de <em>wet</em> (mouillé), au contraire un
son sans effet sera <em>dry</em> (sec). Le seul son <em>dry</em>
possible est celui transitant directement de l’émetteur à l’oreille, la
seule caisse de résonance possible étant celle de l’instrument, un son,
quant émis dans l’espace, sera lui forcément <em>wet</em>, car la
réverbération y est présente. L’écho c’est la redite et l’espace qui
reflète en quantité le son, le rend à chaque couche de réverbération
plus confus, pour que ce dernier calque le contour de l’espace sur
lequel il a été projeté. L’écho devient la plainte des restes de la
chanteuse, récupérant un peu de son sur les flancs de montagnes. L’onde
est mouillée par les larmes de la morte.</p>
<p>Le son est ainsi découpé par l’espace et même si le son original
parvient à l’auditeurice, il est complété par ses restes réverbérés. Le
son est contrefait pour situer l’air, l’écho fait apparaître et trembler
l’invisible.</p>
<blockquote>
<p>L’écho est la voix de l’invisible. […] Dans l’écho l’émetteur ne se
rencontre pas. C’est le cache-cache entre le visible et l’audible.<span
class="sidenote-wrapper"><label for="sn-6" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-6" class="margin-toggle"/><span
class="sidenote">La haine de la musique p.149<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p><strong>DEBUT INFRASOUND RANDY SCOTT</strong></p>
<blockquote>
<p>The architectural space becomes an acoustic container, reacting and
multiplying low frequency arrays—solidifying a void where sound pressure
levels interject between audience and space. It is about the total
acoustic sense of space—observing sound to measure the capacity of
architecture.<span
class="sidenote-wrapper"><label for="sn-7" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-7" class="margin-toggle"/><span
class="sidenote">Manifesto of Randy H.Y Yau and Scott Arford for
INFRASOUND 19 - Paris, Erratum Musical, 2014, <a
href="https://soundcloud.com/erratum_musical/infrasound-19-randy-yau-scott-arford">permalink</a><br />
<br />
</span></span></p>
<p>Resonance: Activating space to generate sympathetic vibration in both
body and architecture— making all fields inseparable and one. It is
about the phenomenon of resonance or sympathetic vibration—all things
working in one continuum.<span
class="sidenote-wrapper"><label for="sn-8" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-8" class="margin-toggle"/><span
class="sidenote">Manifesto of Randy H.Y Yau and Scott Arford for
INFRASOUND 19 - Paris, Erratum Musical, 2014, <a
href="https://soundcloud.com/erratum_musical/infrasound-19-randy-yau-scott-arford">permalink</a><br />
<br />
</span></span></p>
</blockquote>
<p>La (dé)multiplication d’une onde sonore à travers l’espace crée un
tremblement, une vibration. Cette onde entre en <em>phase</em> avec
l’espace, alors que la lumière se voit éparpillée, absorbée par les
matériaux. Le son contraignant l’espace s’accole à la lumière
contrainte, dans le tremblement infime de la Terre se diffuse le
souffle.</p>
<blockquote>
<p>Chaque son est une minuscule terreur. <em>Tremit</em>. Il vibre
(p.42)</p>
</blockquote>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/NIPR_image2.jpg" /></p>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/NIPR_image.png" /></p>
<p><a href="https://www.youtube.com/watch?v=EdfrRMXBRWM">INFRASOUND -
RANDY H.Y. YAU + SCOTT ARFORD - Live in Paris</a></p>
<p><strong>FIN INRASOUND</strong></p>
<hr />
<blockquote>
<p>Tone and emanation - in my terminology, ekstases - determine the
atmosphere radiated by things. They are therefore the way in which
things are felt present in space.<span
class="sidenote-wrapper"><label for="sn-9" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-9" class="margin-toggle"/><span
class="sidenote">Gernot Böhme, « The art of the stage set as a paradigm
for an aesthetics of atmospheres », Ambiances, 10 February 2013,
connection on 22 September 2020 <a
href="http://journals.openedition.org/ambiances/315">lien</a><br />
<br />
</span></span></p>
</blockquote>
<p><img src="../../BiblioIconoSono/Images/annv.png" /></p>
<hr />
<p>Walter Benjamin argue que la multiplication (des photographies) par
la technique leur retire leur «aura», que le fait qu’une pièce/qu’un
objet soit unique lui procure une certaine impression sur le sujet. En
dérivant de sa partition, on pourrait supposer une notion de
sur-saturation de cette aura dans l’oeuvre (re)produite, Sur-saturation
de ce qui est fait pour être vu, entendu, une surcharge allopoïétique.
Le paysage (son expérience) de ce fait, détonne aussi par son mode de
génération . Si les objets artistiques tels que les photographies de
paysage, les enregistrements de soundscape sont débordés par le point de
vue des artistes (on pourrait alors dire pré-perçu, en analogie au
prémâché), l’expérience paysagère elle, crée sa propre aura, où le
paysage naît dans le regard, dans l’écoute d’un sujet
transgressant/résonnant, désaturant sa charge via le sensible. Le
paysage s’auto-gènère, autopoïétique et se charge de par une propre
présence.</p>
<blockquote>
<p>The space creates an effect in its totality; the lights of the
special representation produce a self-contained impression; the space
stands in a unifying light</p>
<p>It does not want to shape objects, but rather to create
phenomena5</p>
</blockquote>
<p><img
src="../../BiblioIconoSono/Images/turell2-06042022124912-0001.jpg" /></p>
<hr />
<p><strong>Début GOTO80 SYNKEX VOLVOX OU ANKERSMIT PERCEPTUAL
GEOGRAPHY</strong></p>
<p>L’aura, l’atmosphère sonore, découle d’un arrière fond, d’un
“éclairage sonore”. Mais si la lumière semble sortir des ténèbres, il y
a toujours une source annexe, même dans la plus ténébreuse des cavernes
frémit une lueur, une onde à la limite de l’imperceptible, elle glisse
le long de l’échine et lèche les yeux du spéléologue.</p>
<blockquote>
<p>Et pourtant, en contemplant les ténèbres tapies derrière la poutre
supérieure, à l’entour d’un vase à fleurs, sous une étagère, et tout en
sachant que ce ne sont que des ombres insignifiantes, nous éprouvons le
sentiment que l’air, à ces endroits-là, renferme une épaisseur de
silence.<span
class="sidenote-wrapper"><label for="sn-10" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-10" class="margin-toggle"/><span
class="sidenote">Junichiro Tanizaki, Eloge de l’ombre, p.56<br />
<br />
</span></span></p>
</blockquote>
<p><img src="../../BiblioIconoSono/Images/soulages1.jpg" /> <img
src="../../whsop_g/Comet_67P_on_30_October_2014_NavCam_D.jpg" /></p>
<p>Il en va de même pour l’arrière-son permettant à l’atmosphère de se
dégager. Le fond inaudible insaisissable d’où sortira l’acoustique. Dans
une chambre anéchoïque, Cage entendait son saong circuler et son système
nerveux fonctionner, car le monde bruisse en permanence, il n’y a pas de
silence, seul le fond à la frontière de l’inaudible situé quelque part
dans la marge des sens. Il est la condition de possibilité pour le
signal et pour que ce signal, une fois émis développe l’atmosphère.</p>
<p><img src="../../BiblioIconoSono/Images/koichi_sato.jpg" /></p>
<p>Il faut noter que ce n’est pas un son en soi, comme l’écrit R.M.
Schafer en parlant de <em>keynote</em>, sorte de son revenant souvent,
le bourdon (<em>hum</em>) d’une ville, c’est ici plutôt un fond
inaudible, plutôt un son (ou tous les sons) <em>en puissance</em>, avant
qu’ils se manifestent dans l’espace. L’espace est l’arrière son aussi
bien que l’arrière son dessine l’espace comme caisse de résonance
potentielle.</p>
<blockquote>
<p>Just as objects fill visual space, noise is² what fills the auditory
field<span
class="sidenote-wrapper"><label for="sn-11" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-11" class="margin-toggle"/><span
class="sidenote">Christoph Cox, <em>Sound art and the sonic
uncoscious</em><br />
<br />
</span></span></p>
</blockquote>
<hr />
<p><em>laisser un long blanc pour la musique = entrée vide</em></p>
<hr />
<p>L’espace rempli joue l’atmosphère en concordance avec le sujet
résonnant, le signal-impulsif émis et puis le reste de lumière et de
son, la fadeur de l’inaudible et du diffus teint doucement l’espace,
remplissant les murs, irradiant les objets d’une impureté certaine.</p>
<blockquote>
<p>Il y a un vieux verbe français qui dit ce tambourinement de
l’obsession. Qui désigne ce groupe de sons asèmes qui toquent la pensée
rationnelle à l’intérieur du crâne et qui éveillent ce faisant une
mémoire non linguistique. <em>Tarabust</em><span
class="sidenote-wrapper"><label for="sn-12" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-12" class="margin-toggle"/><span
class="sidenote">P. Quignard, La haine de la musique, p.62<br />
<br />
</span></span></p>
</blockquote>
<p>Le fond inaudible nous tarabuste de la même façon que la nuit et
l’obscurité le fait depuis l’enfance. Dès que nous sommes à leur portée
on ressent viscéralement le vertige du non-dit, du non-vu, non-existant.
Ce que Quignard évoque comme une terreur à travers la panique, le Pan
grec et ses flûtes, c’est ce frémissement le saisissement inclassable
qu’opère sur nous l’atmosphère.</p>
<hr />
<p>L’atmosphère, en sa brève résonnance de l’espace, fait émerger des
sources cachées et nous de ses sources on vibre, dans cette apothéose
chère aux romantiques, du paysage.</p>
<p><strong>Ruines de David Friedrich ?</strong></p>
<p><em>poursuivre en parlant de bruit blanc dans le paysage le white
noise comme un souffle</em></p>
<hr />
<p>Le numérique chiffre l’image, le son (traduite) et les déploie sur
l’onde et la matrice. Nous on réabsorbe on re-calcule, dé-chiffre
l’information. On dé-duit alors à partir du calculé un ressenti certain,
on cherche à retrouver une sensorialité <em>par</em> le regard et
l’écoute <em>par</em> le déchiffrage. Le pixel chemine jusqu’à l’oeil
mais le regard qu’on portera sur ce gris optique. La reconstruction
inconsciente des points lumineux en taches colorées, des taches en
modelés et le tout en formes et fuites, on re-constitue l’image.</p>
<hr />
<p>L’image sans le son est morte, le paysage sans l’atmosphère n’est que
reproduction désincarnée, sans chair, sans saveur.</p>
