<h1 id="section-2.5-data-driven-and-touch-starved-landscape">Section 2.5
Data-driven and touch-starved landscape</h1>
<figure>
<img src="../../whsop_g/3K.png">
<figcaption>
Caillois Roger, <i>Lecture de Pierres</i>, EXB, scan
</figcaption>
</figure>
<figure>
<img src="../../BiblioIconoSono/Images/Agate-005b-6mm_wikimediacommons.jpg">
<figcaption>
Koltovoi, Agate, Wikimedia Commons
</figcaption>
</figure>
<p>Les pierres ont longtemps fascinés les élites chinoises, car parfois
on pouvait retrouver dans ces dioramas de pierres, taillées par
l’érosion, des creux et des pics qui évoquaient tantôt une île tantôt
une montagne. Il est dit que certains sages pouvaient se miniaturiser
tant qu’ils pouvaient alors expérimenter ce paysage à la même manière
que le réel. Ces pierres devenaient alors leur palais mental, voire leur
tombeau. Dans la surface dure iels percevaient une élasticité de la
forme, peut-être un reste de l’eau dans laquelle des pierres ont baigné
jadis.</p>
<figure>
<img src="../../BiblioIconoSono/Images/Lingbi_wikimedia_commons_1.jpg"><img src="../../BiblioIconoSono/Images/Lingbi_wikimedia_commons_2.jpg">
<figcaption>
<figcaption>
Deux Gongshis ou Lingbis, ou “Pierres de contemplation”, Wikimedia
Commons
</figure>
<blockquote>
<p>Les remous du liquide ajoutent en filigrane ce lac sonore et
indistinct, rapetissé jusqu’à tenir à l’intérieur d’une pierre, comme le
mystère d’un paysage spectral, brumeux, pourtant plus réel et plus lourd
que les paysages évasifs que l’imagination, au premier appel, se hâte de
projeter dans les dessins des agates.<a href="#fn1" class="footnote-ref"
id="fnref1" role="doc-noteref"><sup>1</sup></a></p>
</blockquote>
<hr />
<p>[Track 12 - SeaShell Sound]</p>
<p>La paréidolie que l’on infère aux pierres se retrouve aussi dans le
coquillage (souvent la conque) ramassé en bord de plage qu’une fois
ramené chez soi, l’on colle à l’oreille pour ré-entendre comme un bout
de mer enfermé. En fermant les yeux, on ressent alors peu à peu les
vagues aux loins remuant les fonds, nous les entendons s’ébruisser sur
le sable en écume. L’on prête attention à la plus infime variation dans
le bruit blanc du nacre pour écouter la marée.</p>
<p>[1mn15]</p>
<p>L’oreille se tend toute entière vers ce paysage enfermé, accessible
par la mise en tension de nos sens, par la résonance entre la nacre et
notre souffle.</p>
<p>[2mn]</p>
<blockquote>
<p>Poser l’oreille contre un coquillage, c’est se donner à entendre tout
un océan. Le bruit coloré afflue et reflue en vagues interminables
enserrées dans l’espace nacré et étroit. Pourtant, c’est un en-dehors
qu’on perçoit<a href="#fn2" class="footnote-ref" id="fnref2"
role="doc-noteref"><sup>2</sup></a></p>
</blockquote>
<p>[4mn]</p>
<p>Le coquillage, reproduit dans ses aspérités ondulées régulière l’onde
du champ où il se trouve, il contient en lui le murmure des moutons et
s’enroule dans une spirale logarithmique</p>
<p>[fin coquillage]</p>
<hr />
<blockquote>
<p>Malheureusement, l’espace est resté voyou et il est difficile
d’énumérer ce qu’il engendre. Il est discontinu comme on est escroc<a
href="#fn3" class="footnote-ref" id="fnref3"
role="doc-noteref"><sup>3</sup></a></p>
</blockquote>
<p>Dans le bruit blanc se trouve l’ouverture à l’espace, la conque
marine portée à l’oreille semble contenir un pays entier alors que
l’espace trompeur ne renferme que des stries de nacres. La coquille
s’apparente à l’enveloppe des montagnes sur lesquels le regard ricoche.
Il suffit de dire leurs noms pour que ces amas de cailloux deviennent
des situations géographiques dont on s’émeut. La conque marine dit-elle
son nom en présentant la mer en son intérieur ? On ne saura qu’en
l’écoutant longuement et peut-être qu’en murmurant à notre tour les
moutons d’écumes nous créerons un l’espace à l’intérieur de nous, un
imaginaire hermétique.</p>
<hr />
<p>Ces paysages contenus dans des objets sont des paysages non pas
privés d’expérience sensorielles, mais privés de toucher, d’arpentage
physique. Ce sont des espaces trop petits, trop frontaux pour que l’on
s’y déplace, que l’on en aie une expérience réelle, il en revient à se
dire que la force de ces paysages c’est qu’ils passent par un
médium.</p>
<blockquote>
<p>Touch, like hearing, encounters its objects in sucessive
apprehensions while, like sight, it synthesizes its data as a static
presence of the given<a href="#fn4" class="footnote-ref" id="fnref4"
role="doc-noteref"><sup>4</sup></a></p>
</blockquote>
<p>A la manière du paysage représenté en peinture ou en oeuvre sonore,
ils dépendent d’un medium et de notre capacité à porter une attention
concentrée envers ce medium. On rejette la force atmosphérique
phénoménologique du paysage réel pour plonger dans une forme
d’hyper-résonnance avec un paysage réduit à peau-de-chagrin. On opère
une concentration dans la métonymie. L’objet devient un tout temporaire,
extrait de son espace on le déploie en nous, dans l’imaginaire.</p>
<p>[TRACK 13 Rone - Bora Vocal ]</p>
<hr />
<blockquote>
<p>La nature reflétée par le miroir convexe noir est toujours fictive et
incomplète, c’est-à-dire en défaut par rapport à la nature elle-même,
parce que reflétée (aspect mécanique) et réduite (aspect fragmentaire)
par ce miroir. Cependant cette double imperfection du reflet de la
nature tendrait alors à être […] idéalisée par le miroir lui-même […] le
miroir tend à abstraire.<a href="#fn5" class="footnote-ref" id="fnref5"
role="doc-noteref"><sup>5</sup></a></p>
</blockquote>
<p>Ce qui fascinait les amateur·ices de pittoresque, ce n’était pas tant
le paysage vu par l’oeil, ni l’expérience de parcours de celui-ci. Non,
même si toutes ces sensations faisaient partie de leur rituel, la
véritable mystique se trouvait dans le reflet embrumé de leur miroir. La
capture de l’espace dans un endroit plus petit, l’enserrement des
perspectives dans une rétine de poche, c’est ici que se déploie toute la
force du miroir noir.</p>
<p>L’imaginaire - la fiction déployée à première vue dans le reflet du
miroir noir - se revêt d’un voile flou, le réel vient doucement devenir
un espace fictionnel.</p>
<p>L’espace qu’on y perçoit est analogue à ces terres inconnues, notées
sur les cartes comme l’endroit où sommeillaient des dragons, à leur
manière il recèle la part d’incertitude sur ce qui passe dans le reflet
du miroir.</p>
<hr />
<p>Ces trois objets, coquillage, agate et miroir noir participent à
faire ressentir une <em>sensation de paysage</em> contre leur gré. Nous
leur apposons nous-même ce statut de “faux” paysages, d’illusion.
Pourtant deux différences subsistent entre l’objet technique et les deux
autres. D’abord, le miroir a été <em>pensé</em> pour refléter l’espace
et créer le paysage, il “copie” d’une certaine façon le réel pour le
retravailler légèrement, et tout cela sans grosses opérations de
traduction, répercutant seulement la lumière de façon dissonante.
Ensuite l’agate et le coquillage se sont simplement sédimentés de cette
façon, et même si les deux objets produisent continuellement ces formes
il faut que nous leur prêtons attention pour découvrir, à travers le
regard ou l’écoute, le paysage qu’ils renferment.</p>
<blockquote>
<p>we will need to reconsider the signification of imagination: to think
of it not just as a capacity to construct images, or as the power of
mental representation, but more fundamentally as a way of living
creatively in a world that is itself crescent […] participat[ing] from
within, through perception and action, in the very becoming of things.<a
href="#fn6" class="footnote-ref" id="fnref6"
role="doc-noteref"><sup>6</sup></a></p>
</blockquote>
<p>L’ordinateur (le calculateur), lui se pose comme une machine à
fabriquer du sensoriel. Si le cinéma, comme le miroir noir, travaille à
partir du réel pour soit le montrer, le sublimer ou le détourner, le
processeur, construit à partir d’une infime part du réel (des signaux
électriques conditionnés par des portes logiques) la possibilité de
l’infini dans un objet. En ce sens on peut l’apparenter à la pierre ou
au coquillage, il peut délivrer de manière obtuse des sensations de
paysage, mais la frontalité de l’expérience de l’écran et des hauts
parleurs pousse à se poser la question de ce que l’on perçoit. L’on ne
voit pas le courant et les calculs lorsque nous parcourons un espace
généré par ordinateur, on ne voit que le résultat d’opération physiques
sur des objets techniques variés. L’ordinateur masque ce qu’il est et
tente de formuler le réel, de sédimenter couche à couche ce qui
apparaitraît comme un paysage.</p>
<p><code>let analyse du système de lecture = contrôle</code>
<code>if (analyse du système de lecture == contrôle){</code>
<code>alert(vous formez l'image d'une main);</code>
<code>alert(vous mettez le violet dans les soleils);</code>
<code>alert(vous activez le point de vue d'un peronnage, vous projetez déjà des intentions, vous supposez déjà des souvenirs)}</code><a
href="#fn7" class="footnote-ref" id="fnref7"
role="doc-noteref"><sup>7</sup></a></p>
<blockquote>
<p>The making of atmospheres is therefore confined to setting the
conditions in which the atmosphere appears.<a href="#fn8"
class="footnote-ref" id="fnref8" role="doc-noteref"><sup>8</sup></a></p>
</blockquote>
<hr />
<p><img src="../../BiblioIconoSono/Images/tracker.jpg" /></p>
<blockquote>
<p>Si la partition n’est plus un texte, mais un <em>prétexte</em>, si ce
qui a été composé évolue d’une exécution à l’autre, et même dans le
ocurs d’une même exécution […], alors le réseau de possibles qu’est
l’oeuvre se laisse saisir.<a href="#fn9" class="footnote-ref"
id="fnref9" role="doc-noteref"><sup>9</sup></a></p>
</blockquote>
<p>Le pré-texte prépare la réalité d’une action, la programmation
informatique permet de faire jouer une logique sémantique intégrée
elle-même dans l’environnement numérique via une syntaxe. On somme
l’ordinateur de produire un évènement en traduisant une description
(lacunaire, asensorielle) vers un bourdonnement électrique
signifiant.</p>
<hr />
<blockquote>
<p>L’interprète est un preneur de sons, au sens où l’on parle d’un
preneur d’images<a href="#fn10" class="footnote-ref" id="fnref10"
role="doc-noteref"><sup>10</sup></a></p>
</blockquote>
<p>Le calculateur prend le bourdonnement électrique des cycles de
fonctioonnement des coeurs et le module dans les hauts-parleurs, il
s’égosille de recracher la synthétisation d’un tapuscrit en son, il
tente de faire le pont entre le sens et le sensible, trahit par le
grésillement du câble liant la machine à son organe. trahit par son
battement de coeur. John Cage dans la chambre anéchoïque.</p>
<p>La description d’un paysage par ses noms est (pour l’instant)
impossible.</p>
<blockquote>
<p>Mon nom, le tien, celui d’un enfant qui n’a pas encore<br />
vu le jour, tous forment les syllabes du grand mot que prononce très
lentement l’éclat des étoiles.<a href="#fn11" class="footnote-ref"
id="fnref11" role="doc-noteref"><sup>11</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>Le phénomène numérique ne fait que rendre visible, par son ampleur,
un trait philosophique caractéristique de toute technique en général,
resté relativement inaperçu mais essentiel : <em>la technique est une
structure de la perception</em>, elle conditionne la manière dont le
réel ou l’être nous apparaît.<a href="#fn12" class="footnote-ref"
id="fnref12" role="doc-noteref"><sup>12</sup></a></p>
</blockquote>
<p>Certaines algorithmes de DL, on citera notamment DALL-E ou
MidJourney, permettent de produire des simulacres de reproductions
paysagères à partir de descriptions sommaires. Mais elles laissent
inassouvie (pour le moment) la (les) sensations résonantes intrinsèques
à l’évènement paysage.</p>
<p>Elles produisent des images mortes. Reflets de Narcisse.</p>
<figure>
<img src="../../BiblioIconoSono/Images/midjourney_3.webp">
<figcaption>
Une image de paysage créée à l’aide de l’algorithme MidJourney
</figcaption>
</figure>
<blockquote>
<p>On veut toujours que l’imaginaire soit la faculté de «former» des
images. Or elle est plutôt la faculté de «déformer» les images fournies
par la perception, elle est surtout la faculté de nous libérer des
images premières, de «changer» les images. S’il n’y a pas de changement
d’images, union inattendue des images, il n’y a pas imagination, il n’y
a pas d’«action imaginante». <em>L’Air et les Songes, 1943, Gaston
Bachelard.</em></p>
</blockquote>
<hr />
<figure>
<img src="../../BiblioIconoSono/Images/uxn_linux.jpg">
<figcaption>
Image d’UXN, une VM (virtual machine), Hundred Rabbits,
<a href="https://100r.co/site/uxn.html">https://100r.co/site/uxn.html</a>,
consulté le 24 octobre 2022
</figcaption>
</figure>
<p>Le bytecode et le langage de compilation des ordinateurs sont bas
niveau, au sens qu’ils perdent toute accessibilité sensible quand on les
voit. Les enchaînements de lettres et de chiffres a-priori abscons se
mettent en tension avec la perfection de la simulation. Ces suites
binaires, hexadécimales semblent distendre l’espace sur une ligne,
l’écrasent en une dimension. Le paysage se replie sur lui même. Nous le
déploierons par <em>abstraction</em>, en feignant d’oublier, à cet
instant, le simulacre.</p>
<blockquote>
<p>L’arbre n’est pas le nom arbre, pas davantage une sensation d’arbre:
c’est la sensation d’une perception d’arbe qui se dissipe au moment même
de la perception de la sensation d’arbre<a href="#fn13"
class="footnote-ref" id="fnref13"
role="doc-noteref"><sup>13</sup></a></p>
</blockquote>
<p>L’invocation des mers et des vents nécessite de savoir les
appeler.</p>
<blockquote>
<p>le monde spirituel n’est autre que le monde des sens, et le monde des
sens n’est autre que le monde de l’esprit. Le monde est un et
parfaitement total<a href="#fn14" class="footnote-ref" id="fnref14"
role="doc-noteref"><sup>14</sup></a></p>
</blockquote>
<blockquote>
<p>Inutile de parier sur les sons[…] on ne s’assure pas de l’existence
de la mer, ni de l’existence du vent.<a href="#fn15"
class="footnote-ref" id="fnref15"
role="doc-noteref"><sup>15</sup></a></p>
</blockquote>
<hr />
<p>le paysage comme souvenir d’une émotion fugitive, qui nous remonte
aux bords des lèvres, en fermant la bouche on tente de fixer cette
sensation de vertige… une envie démiurgique de recréer ce qui a été
perdu</p>
<p>Par l’action d’un ou plusieurs personnages dans un espace fictif
numérique on éprouve d’une nouvelle manière le toucher paysager,
l’espace restructuré par une mise en image en son et en musique.
L’ordinateur programmé fait la corrélation entre des éléments
sémantiquement séparés en lui pour donner l’impression de réel. J’appuie
sur une touche (impulsion depuis périphérique), une entité (mon
personnage) se déplace, j’entends ses pas (fichier son) dans un espace
lui même sonorisé.</p>
<hr />
<p>Le numérique chiffre l’image, le son (traduite) et les déploie sur
l’onde et la matrice. Nous on réabsorbe on re-calcule, dé-chiffre
l’information. On dé-duit alors à partir du calculé un ressenti certain,
on cherche à retrouver une sensorialité <em>par</em> le regard et
l’écoute <em>par</em> le déchiffrage. Le pixel chemine jusqu’à l’oeil
mais le regard qu’on portera sur ce gris optique. La reconstruction
inconsciente des points lumineux en taches colorées, des taches en
modelés et le tout en formes et fuites, on re-constitue l’image.</p>
<p>[TRACK 13 - Sarah Sze Twice Twilight]</p>
<blockquote>
<p>L’architecture de ténèbres demeure imperturbable. Certes, il est
commun d’être couleur d’encre. Mais cette nuit, d’une espèce nouvelle,
est partout exacte et construite, formée de flancs parallèles, de
biseaux homologues, de justes médiatrices, d’angles inévitables. Une
géométrie stricte proclame qu’elle n’est pas un néant à combler, encore
moins un oubli à réparer, mais un ordre qui a ses lois et qui publie sa
valeur d’ordre.<a href="#fn16" class="footnote-ref" id="fnref16"
role="doc-noteref"><sup>16</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>Entendre est une manière de toucher à distance<a href="#fn17"
class="footnote-ref" id="fnref17"
role="doc-noteref"><sup>17</sup></a></p>
</blockquote>
<p>Toucher des yeux, c’est se placer en présence du simulacre.</p>
<figure>
<img src="../../BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_2.jpg">
<figcaption>
Marinella Pirelli, <i>Sole In Mano</i>, 1970, film, 6mn, captures
d’écran
</figcaption>
</figure>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_3.jpg" /></p>
<p>Pour certains, le paysage serait équivalent au suc du réel dans
lequel on plante goûlument les dents, dévorer (des yeux) la montagne,
disséquer (des oreilles) la structure de l’espace ; on éprouve une
<em>physicalité</em>. Mais les organes face au flux numérique semblent
ne plus savoir où porter les canines, on se perdrait dans un flux de
données, on serait submergés, victime de dépréciation sensorielles. Mais
alors on oublie que la mâche c’est aussi le coeur et la tête et que la
projection dans l’espace, bien que désarticulante, se voit restructurer
temporairement nos manières de sentir. Je me retrouve alors à sentir la
brise venant de mon écran et à mesurer le monde qui s’offre à moi.</p>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_1.jpg" /></p>
<hr />
<p>Lorsque le paysage se trouve perturbé par le médium, que l’on voit
que le sol brusquement devient transparent, que le bug révèle la matrice
du monde factice, on retrouve la même distance avec lui. Le chiffre perd
de sa puissance simulatrice, on se retrouve aux confins du calculé, le
paysage se transforme et devient de l’imprévu. Lors de ces instants les
sons et l’image ne se synchronisent plus et faillent à leur qualité
illusoire. Poussé dans ses retranchements, le sortilège s’efface et le
métamorphe redevient un amas de formes et de sons.</p>
<figure>
<img src="../..//BiblioIconoSono/Images/farocki1-1.webp">
<figcaption>
Harun Farocki, <i>Parallel I-IV</i>, capture d’écran, documentaire,
43mn, 2014
</figcaption>
</figure>
<figure>
<img src="../../BiblioIconoSono/Images/oobbreathofthewild.png">
<figcaption>
Gaming Reinvented, <i>Going Out of Bounds in the Trial of the Sword
(Legend of Zelda Breath of the Wild Glitch)</i>, 2018, capture d’écran,
vidéo youtube, 1mn50, https://www.youtube.com/watch?v=HLqY_WDUlkI
consulté le 20 novembre 2022
</figcaption>
</figure>
<p>C’est ici que l’imaginaire revient, que le sensible refait surface,
car nous retrouverons ces paysages au fur et à mesure, nous fixerons de
nouveaux horizons numériques et goûterons à un autre toucher, celui de
la vallée entre la perfection et le bégaiement informatique, le sigil de
travers matérialisant un autre souffle.</p>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>Caillois Roger, <em>Lecture de Pierres</em>, Éditions
Xavier Barral, 2014<a href="#fnref1" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Bonnet François J. , <em>Les mots et les sons, un
archipel sonore</em>, L’Éclat, 2012, p. 13<a href="#fnref2"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3"><p>Bataille Georges, « Espace », <em>Documents</em>,
vol. 2, 1930, p. 41 cité dans Le Lay Yves-François, « Emotionscapes.
S’é-mou-voir des situations géographiques », thèse d’Habilitation à
diriger les recherches, Géographie ENS Lyon, 2019, p. 21<a
href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4"><p>Wyschogrod Edith, « Doing before hearing : on the
primacy of touch », dans <em>Textes pour Emmanuel Levinas</em>, Paris,
Jean-Michel Place, 1980, p. 197<a href="#fnref4" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn5"><p>Maillet Arnaud, <em>Le miroir noir, enquête sur le côté
obscur du reflet</em>, L’Eclat, « Kargo », 2005, p. 128<a href="#fnref5"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn6"><p>Ingold Tim, « Landscapes of perception and imagination
», dans <em>Imagining for Real, Essays on Creation, Attention and
Correspondence</em>, Routledge, 2022, p. 32<a href="#fnref6"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn7"><p>Boyer Elsa, <em>Orbital</em>, Éditions MF, « Inventions
», 2021, 1ère de couverture<a href="#fnref7" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn8"><p>Böhme Gernot, « The art of the stage set as a paradigm
for an aesthetics of atmospheres », <em>Ambiances</em>, 2013, connection
on 22 September 2020 <a
href="http://journals.openedition.org/ambiances/315">http://journals.openedition.org/ambiances/315</a><a
href="#fnref8" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn9"><p>Charles Daniel, <em>Gloses sur John Cage</em>, UGE, «
1018 », 1978, p.20<a href="#fnref9" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn10"><p>Ibid., p. 127<a href="#fnref10" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn11"><p>Le Guin Ursula K., <em>Terremer, Les Tombeaux
d’Atuan</em> (1970), OPTA, « Aventures fantastiques », 1977<a
href="#fnref11" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn12"><p>Vial Stéphane, <em>L’être et l’écran, comment le
numérique change la perception</em>, PUF, 2013, p. 99<a href="#fnref12"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn13"><p>Paz Octavio, <em>Le Singe grammairien</em>, 1970, cité
dans Charles Daniel, <em>Gloses sur John Cage</em>, op. cit.<a
href="#fnref13" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn14"><p>Suzuki, <em>L’Essence du Bouddhisme</em>, 1955, cité
dans Charles Daniel, <em>Gloses sur John Cage</em>, op. cit.<a
href="#fnref14" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn15"><p>Charles Daniel, <em>Gloses sur John Cage</em>, op.
cit., p. 57<a href="#fnref15" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn16"><p>Caillois Roger, <em>Pierres</em>, Gallimard, 1971<a
href="#fnref16" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn17"><p>Murray-Schaffer R., <em>Le Paysage sonore, le monde
musique</em> (1977), Wildproject, « Domaine sauvage », trad. Sylvette
Gleize, 2010<a href="#fnref17" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
