<h1 id="section-2.5-data-driven-and-touch-starved-landscape">Section 2.5
Data-driven and touch-starved landscape</h1>
<p>Le paysage quand réel, est donc le produit d’une expérience, d’une
suite d’une sensation d’un espace à nous, médié par la seule interface
de nos sens. Nous sommes alors “entraînés” inconsciemment à produire du
paysage, à le voir à partir de minuscules ressentis. C’est ainsi que
l’on a de tout temps rêvé de paysages autrepart que l’espace, que les
objets et leurs interactions produisant l’espace et le paysage, ne
serait-il pas logique d’en chercher des semblances à travers ces objets
même ?</p>
<p><strong>agates photos</strong></p>
<p>Les pierres ont longtemps fascinés les élites chinoises, car parfois
on pouvait retrouver dans ces dioramas de pierres, taillés par
l’érosion, des creux et des pics qui évoquaient tantôt une île tantôt
une montagne. Il est dit que certains sages pouvaient se miniaturiser
tant qu’ils pouvaient alors expérimenter ce paysage à la même manière
que le réel. Le re</p>
<p><strong>photos pierres chines</strong></p>
<blockquote>
<p>” Les remous du liquide ajoutent en Filigrane ce lac sonore et
indistinct, rapetissé jusqu’à tenir à l’intérieur d’une pierre, comme le
mystère d’un paysage spectral, brumeux, pourtant plus réel et plus lourd
que les paysages évasifs que l’imagination, au premier appel, se hâte de
projeter dans les dessins des agates.” <strong>lectures de
pierres</strong></p>
</blockquote>
<hr />
<p><em>son coquillage</em></p>
<p>La paréidolie que l’on infère aux pierres se retrouve aussi dans le
coquillage ramassé en bord de plage qu’une fois ramené chez soi, l’on
colle à l’oreille pour ré-entendre comme un bout de mer enfermé. En
fermant les yeux, on ressent alors peu à peu les vagues aux loins
remuant les fonds, nous les entendons s’ébruisser sur le sable en écume.
L’on prête attention à la plus infime variation dans le bruit blanc du
nacre pour écouter la marée. L’oreille se tend toute entière vers ce
paysage enfermé, accessible par la mise en tension de nos sens, par la
résonance entre la nacre et notre souffle.</p>
<blockquote>
<p>Poser l’oreille contre un coquillage, c’est se donner à entendre tout
un océan. Le bruit coloré afflue et reflue en vagues interminables
enserrées dans l’espace nacré et étroit. Pourtant, c’est un en-dehors
qu’on perçoit<a href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a></p>
</blockquote>
<p>Le coquillage, reproduit dans ses aspérités ondulées régulière l’onde
du champ où il se trouve, il contient en lui le murmure des moutons et
s’enroule dans une spirale logarithmique</p>
<hr />
<blockquote>
<p>Malheureusement, l’espace est resté voyou et il est difficile
d’énumérer ce qu’il engendre. Il est discontinu comme on est escroc
<strong>Bataille, 1930, p. 41</strong></p>
</blockquote>
<p>Dans le bruit blanc se trouve l’ouverture à l’espace, la conque
marine portée à l’oreille semble contenir un pays entier alors que
l’espace trompeur ne renferme que des stries de nacres. La coquille
s’apparente à l’enveloppe des montagnes sur lesquels le regard ricoche,
il suffit de dire leurs noms pour que ces amas de cailloux deviennent
des situations géographiques dont on s’émeut. La conque marine dit-elle
son nom en présentant la mer en son intérieur ? On ne saura qu’en
l’écoutant longuement et peut-être qu’en murmurant à notre tour les
moutons d’écumes nous créerons de l’espace à l’intérieur de nous, un
imaginaire hermétique.</p>
<hr />
<p>Ces paysages contenus dans des objets sont donc des paysages non pas
privés d’expérience sensorielles, mais privés de toucher, d’arpentage
physique. Ce sont des espaces trop petits, trop frontaux pour que l’on
s’y déplace, que l’on en aie une expérience réelle, il en revient à se
dire que la force de ces paysages c’est qu’ils passent par un médium. A
la manière du paysage représenté en peinture ou en oeuvre sonore, ils
dépendent d’un medium et de notre capacité à porter une attention
concentrée envers ce medium. On rejette la force atmosphérique
phénoménologique du paysage réel pour plonger dans une forme
d’hyper-résonnance avec un paysage réduit à peau-de-chagrin. On opère
une concentration dans la métonymie. L’objet devient un tout temporaire,
extrait de son espace on le déploie en nous, dans l’imaginaire.</p>
<p>Rone - Bora Vocal</p>
<blockquote>
<p>Mon nom, le tien, celui d’un enfant qui n’a pas encore<br />
vu le jour, tous forment les syllabes du grand mot que<br />
prononce très lentement l’éclat des étoiles. (Terremer, Ursula K. Le
Guin)</p>
</blockquote>
<hr />
<blockquote>
<p>“[…] la nature reflétée par le miroir convexe noir est toujours
fictive et incomplète, c’est-à-dire en défaut par rapport à la nature
elle-même, parce que reflétée (aspect mécanique) et réduite (aspect
fragmentaire) par ce miroir. Cependant cette double imperfection du
reflet de la nature tendrait alors à être […] idéalisée par le miroir
lui-même […] le miroir tend à abstraire.” <strong>(p.128)</strong>
miroir nour</p>
</blockquote>
<p>L’imaginaire - la fiction déployée à première vue dans le reflet du
miroir noir - se revêt d’un voile flou, le réel vient doucement devenir
un espace fictionnel, et on n’en doute pas, ce qui fascinait les
amateur·ices de pittoresque ce n’était pas tant le paysage vu par
l’oeil, ni l’expérience de parcours de celui-ci. Non, même si toutes ces
sensations faisaient partie de leur rituel, la véritable mystique se
trouvait dans le reflet embrumé de leur miroir. La capture de l’espace
dans un endroit plus petit, l’enserrement des perspectives dans une
rétine de poche, c’est ici que se déploie toute la force du miroir
noir.</p>
<p>L’espace qu’on y perçoit est analogue à ces terres inconnues, notées
sur les cartes comme l’endroit où sommeillaient des dragons, à leur
manière il recèle la part d’incertitude sur ce qui passe dans le reflet
du miroir.</p>
<hr />
<p>Ces trois objets, coquillage, agate et miroir noir participent à
faire ressentir une <em>sensation de paysage</em> contre leur gré.
Pourtant deux différences subsistent entre l’objet technique et les deux
autres. D’abord, le miroir a été <em>pensé</em> pour refléter l’espace
et créer le paysage, il “copie” d’une certaine façon le réel pour le
retravailler légèrement, et tout cela sans grosses opérations de
traduction, répercutant seulement la lumière de façon dissonante.
Ensuite l’agate et le coquillage se sont simplement sédimentés de cette
façon, et même si les deux objets produisent continuellement ces formes
il faut que nous leur prêtons attention pour découvrir, à travers le
regard ou l’écoute, le paysage qu’ils renferment.</p>
<p>L’ordinateur (le calculateur), lui se pose comme une machine à
fabriquer du sensoriel. Si le cinéma, comme le miroir noir, travaille à
partir du réel pour soit le montrer, le sublimer ou le détourner, le
processeur, construit à partir d’une infime part du réel (des signaux
électriques conditionnés par des portes logiques) la possibilité de
l’infini dans un objet. En ce sens on peut l’apparenter à la pierre ou
au coquillage, il peut délivrer de manière obtuse des sensations de
paysage, mais la frontalité de l’expérience de l’écran et des hauts
parleurs pousse à se poser la question de ce que l’on perçoit. L’on ne
voit pas le courant et les calculs lorsque nous parcourons un espace
généré par ordinateur, on ne voit que le résultat d’opération physiques
sur des objets techniques variés. L’ordinateur masque ce qu’il est et
tente de formuler le réel, de sédimenter couche à couche ce qui
apparaitraît comme un paysage.</p>
<p><code>let analyse du système de lecture = contrôle</code>
<code>if (analyse du système de lecture == contrôle){</code>
<code>alert(vous formez l'image d'une main);</code>
<code>alert(vous mettez le violet dans les soleils);</code>
<code>alert(vous activez le point de vue d'un peronnage, vous projetez déjà des intentions, vous supposez déjà des souvenirs)}</code><a
href="#fn2" class="footnote-ref" id="fnref2"
role="doc-noteref"><sup>2</sup></a></p>
<blockquote>
<p>The making of atmospheres is therefore confined to setting the
conditions in which the atmosphere appears.<a href="#fn3"
class="footnote-ref" id="fnref3" role="doc-noteref"><sup>3</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>Si la partition n’est plus un texte, mais un
<strong>prétexte</strong> , si ce qui at été composé évolue d’une
exécution à l’autre, et même dans le ocurs d’une même exécution […],
alors le réseau de possibles qu’est l’oeuvre se laisse
saisir.(p. 20)</p>
</blockquote>
<p>Le pré-texte prépare la réalité d’une action, la programmation
informatique permet de faire jouer une logique sémantique intégrée
elle-même dans l’environnement numérique via une syntaxe. On somme
l’ordinateur de produire un évènement en traduisant une description
(lacunaire, asensorielle) vers un bourdonnement électrique
signifiant.</p>
<hr />
<blockquote>
<p>L’interprète est un preneur de sons, au sens où l’on parle d’un
preneur d’images(p.127)</p>
</blockquote>
<p>Le calculateur prend le bourdonnement électrique des cycles de
fonctioonnement des coeurs et le module dans les hauts-parleurs, il
s’égosille de recracher la synthétisation d’un tapuscrit en son, il
tente de faire le pont entre le sens et le sensible, trahit par le
grésillement du câble liant la machine à son organe. trahit par son
battement de coeur. John Cage dans la chambre anéchoïque.</p>
<p>La description d’un paysage par ses noms est (pour l’instant)
impossible.</p>
<hr />
<figure>
<img src="../../BiblioIconoSono/Images/uxn_linux.jpg">
<figcaption>
Image d’exemple de UXN, une VM (virtual machine),
<a href="https://100r.co/site/uxn.html">https://100r.co/site/uxn.html</a>,
consulté le 24 octobre 2022
</figcaption>
</figure>
<p>Le bytecode et le langage de compilation des ordinateurs sont bas
niveau, au sens qu’ils perdent toute accessibilité sensible quand on les
voit. Les enchaînements de lettres et de chiffres a-priori abscons se
mettent en tension avec la perfection de la simulation. Ces suites
binaires, hexadécimales semblent distendre l’espace sur une ligne,
l’écrasent en une dimension. Le paysage se replie sur lui même. Nous le
déploierons par <em>abstraction</em>, en feignant d’oublier, à cet
instant, le simulacre.</p>
<blockquote>
<p>L’arbre n’est pas le nom arbre, pas davantage une sensation d’arbre:
c’est la sensation d’une perception d’arbe qui se dissipe au moment même
de la perception de la sensation d’arbre(Paz, <em>le singe
grammairien</em>, p56, in D. C. Gloses sur John Cage</p>
</blockquote>
<p>L’invocation des mers et des vents nécessite de savoir les
appeler.</p>
<blockquote>
<p>le monde spirituel n’est autre que le monde des sens, et le monde des
sens n’est autre que le monde de l’esprit. Le monde est un et
parfaitement total (<em>L’essence du Bouddhisme</em>, Suzuki, 1955)</p>
</blockquote>
<blockquote>
<p>Inutile de parier sur les sons[…] on ne s’assure pas de l’existence
de la mer, ni de l’existence du vent.(p.57)</p>
</blockquote>
<hr />
<p>Certaines algorithmes de DL, on citera notamment DALL-E, permettent
de produire des simulacres de reproductions paysagères à partir de
descriptions sommaires. Mais elles laissent inassouvie (pour le moment)
la (les) sensations résonantes intrinsèques à l’évènement paysage.</p>
<p>Elles produisent des images mortes. Reflets de Narcisse.</p>
<p><em>pleine page image DALL-E</em></p>
<blockquote>
<p>On veut toujours que l’imaginaire soit la faculté de «former» des
images. Or elle est plutôt la faculté de «déformer» les images fournies
par la perception, elle est surtout la faculté de nous libérer des
images premières, de «changer» les images. S’il n’y a pas de changement
d’images, union inattendue des images, il n’y a pas imagination, il n’y
a pas d’«action imaginante». <em>L’Air et les Songes, 1943, Gaston
Bachelard.</em></p>
</blockquote>
<hr />
<p>le paysage comme souvenir d’une émotion fugitive, qui nous remonte
aux bords des lèvres, en fermant la bouche on tente de fixer cette
sensation de vertige… une envie démiurgique de recréer ce qui a été
perdu</p>
<hr />
<blockquote>
<p>I like the technical character of the raster images, […] I like the
impersonal, neutral, and manufactured quality of these images. The
raster, to me, is a system, a principle, a method, a structure. It
divides, disperses, arranges and makes everything the same. I also like
it that enlarging the pictures makes them blurry and sets the dots in
motion; I like that the motifs switch between being recognizable and
being unrecognizable, the ambiguity of the situation, the fact that it
stays open… In that perspective I think that the raster I am using does
show a specific view, that it is a general situation and interpretation:
the structure of our time, the structure of a social order, of a
culture. Standardized, divided, fragmented, rationed, grouped,
specialized.</p>
</blockquote>
<p><img
src="../../BiblioIconoSono/Images/Sigmar%20Polke,%20Palmen,%201968.png" /></p>
<p>https://www.sfmoma.org/artwork/98.816</p>
<hr />
<p>Le numérique chiffre l’image, le son (traduite) et les déploie sur
l’onde et la matrice. Nous on réabsorbe on re-calcule, dé-chiffre
l’information. On dé-duit alors à partir du calculé un ressenti certain,
on cherche à retrouver une sensorialité <em>par</em> le regard et
l’écoute <em>par</em> le déchiffrage. Le pixel chemine jusqu’à l’oeil
mais le regard qu’on portera sur ce gris optique. La reconstruction
inconsciente des points lumineux en taches colorées, des taches en
modelés et le tout en formes et fuites, on re-constitue l’image.</p>
<blockquote>
<p>Entendre est une manière de toucher à distance<a href="#fn4"
class="footnote-ref" id="fnref4" role="doc-noteref"><sup>4</sup></a></p>
</blockquote>
<hr />
<p>Toucher des yeux, c’est se placer en présence du simulacre.</p>
<p>Lorsque le paysage se trouve perturbé par le médium, que l’on voit
que le sol brusquement devient transparent, que le bug révèle la matrice
numérique, on retrouve la même distance avec lui, le</p>
<figure>
<img src="../../BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_2.jpg">
<figcaption>
Marinella Pirelli
</figcaption>
</figure>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_3.jpg" /></p>
<p><img
src="file:///D:/gitlab/hear/MEMOIRE/BiblioIconoSono/Images/Marinella_Pirelli-Sole_in_Mano_1.jpg" /></p>
<hr />
<p>Pour certains, le paysage serait équivalent au suc du réel dans
lequel on plante goûlument les dents, dévorer (des yeux) la montagne,
disséquer (des oreilles) la structure de l’espace ; on éprouve une
<em>physicalité</em>. Mais les organes face au flux numérique semblent
ne plus savoir où porter les canines, on se perdrait dans un flux de
données, on serait submergés, victime de dépréciation sensorielles. Mais
alors on oublie que la mâche c’est aussi le coeur et la tête et que la
projection dans l’espace, bien que désarticulante, se voit restructurer
temporairement nos manières de sentir. Je me retrouve alors à sentir la
brise venant de mon écran et à mesurer le monde qui s’offre à moi.</p>
<hr />
<p>Parler des cailloux, de paréidolie et des coquillages (on y entend et
voit l’horizon) le vrai nom des choses vs. la sensation qu’elles
sont</p>
<p>mettre ponge par ici ?</p>
<hr />
<blockquote>
<p>L’architecture de ténèbres demeure imperturbable. Certes, il est
commun d’être couleur d’encre. Mais cette nuit, d’une espèce nouvelle,
est partout exacte et construite, formée de flancs parallèles, de
biseaux homologues, de justes médiatrices, d’angles inévitables. Une
géométrie stricte proclame qu’elle n’est pas un néant à combler, encore
moins un oubli à réparer, mais un ordre qui a ses lois et qui publie sa
valeur d’ordre.<a href="#fn5" class="footnote-ref" id="fnref5"
role="doc-noteref"><sup>5</sup></a></p>
</blockquote>
<hr />
<p>regarder Parallel I-IV Harun Farocki</p>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p><em>Les mots eet les sons, un archipel sonore</em>,
François J. Bonnet, 2012, L’Eclat, p. 13<a href="#fnref1"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Elsa Boyer, Orbital, MF Editions<a href="#fnref2"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3"><p>Gernot Böhme, « The art of the stage set as a paradigm
for an aesthetics of atmospheres », <em>Ambiances</em>, 10 February
2013, connection on 22 September 2020. <a
href="http://journals.openedition.org/ambiances/315">http://journals.openedition.org/ambiances/315</a><a
href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4"><p>R. M. Schaffer, <em>Le paysage sonore</em>, etc.<a
href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn5"><p>inconnue, à retrouver<a href="#fnref5"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
