<h1 id="vagues-et-horizon">vagues et horizon</h1>
<p>Les vagues c'est un peu la montée en tension du tranquille. Le va vient incessant, le clapotis que l'on voit grimper en vague et qui alors sous l'eau, fait roulement de tambour sourd. On voit alors la vague qui monte, monte, gronde et puis s'enroule séchement sur elle même dans un éclatement sonore et visuel (l'écume qui s'éparpille en accents et virgules) et tout retombe ça bruisse vers vous jusqu'à vous mouiller les pieds. Le reste de vague, insignifiant milli- puis micro- puis pico -mètre griffe un peu le sable et couine fshhh, pauvre et s'écrase dans un bruit blanc, laisse un silence bref, et de l'écume parfois. <em>continuer sur le ciel et la plage</em></p>
<h1 id="montagne">Montagne</h1>
<h1 id="les-sons-quon-nentend-que-comme-ça">les sons qu'on n'entend que comme ça</h1>
<h1 id="les-cailloux-de-caillois-les-coquillages">Les Cailloux de Caillois + Les coquillages</h1>
