<h1 id="section-i---paysage-oeil-oreille">Section I - Paysage, oeil &amp; oreille</h1>
<blockquote>
<h4 id="noun-landscape-countable-and-uncountable-plural-landscapes">Noun: landscape (countable and uncountable, plural landscapes)</h4>
<p>A portion of land or territory which the eye can comprehend in a single view, including all the objects it contains.</p>
<p>A sociological aspect of a physical area.</p>
<p>A picture representing a real or imaginary scene by land or sea, the main subject being the general aspect of nature, as fields, hills, forests, water, etc.</p>
<p>The pictorial aspect of a country.</p>
<p>(computing, printing, uncountable) a mode of printing where the horizontal sides are longer than the vertical sides</p>
<p>A space, indoor or outdoor and natural or man-made (as in &quot;designed landscape&quot;) (figuratively) a situation that is presented, a scenario</p>
</blockquote>
<blockquote>
<h4 id="noun-soundscape-plural-soundscapes">Noun: soundscape (plural soundscapes)</h4>
<p>An acoustic environment, a virtual/emotional environment created using sound.</p>
<p>A soundscape composition, an electroacoustic musical composition creating a sound portrait of a sound environment.</p>
</blockquote>
<p>On verra qu'outre la notion d'environnement et l'étymologie en -scape qui semble les relier, les deux termes paraissent assez éloignés. Pourtant nous les regrouperons ici sous l'appellation de paysage <a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a>. Non pas par praticité mais plutôt car les deux termes gravitent autour de la notion (encore anglaise) de <em>picturing</em>, qui signifie -traduction grossière - à la fois imaginer, décrire et (se) représenter.<em>développer ici sinon ça vaut rien</em></p>
<p>Où l'on perçoit une section d'un espace réel ou imaginaire, où on se le représente à partir des percepts offerts. A travers principalement la vue et l'ouïe.</p>
<blockquote>
<p>Percepetion as a representing act is ddistinguished from immersion in the sensible ; it involves an anterior sorting out, presumes a directive surge of consciousness and an intended object.<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a></p>
</blockquote>
<hr />
<div class="figure">
<img src="../../BiblioIconoSono/Images/wikimedia_spectrevisible.png" />

</div>
<p><a href="https://www.youtube.com/watch?v=wbPclkhoXdE">spectre audible</a></p>
<hr />
<hr />
<blockquote>
<p>Le paysage n'existe qu'en relation avec un sujet esthétique, il est l'objet d'une <em>perception</em> et d'une <em>expérimentation</em>, lesquelles sont médiatisées par toute une série de filtres culturels variés<a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a></p>
</blockquote>
<p>L'avènement du paysage étant le produit d'une perception, il est aussi et surtout le produit de <em>régimes d'attention</em> de l'ouïe et de la vue, qui deviennent alors, regard et écoute. Pour exemple on voit l'arbre mais on regarde ses branches, son feuillage, ses noeuds... Ou alors on entend la voiture s'approchant mais on écoute la cadence du moteur, la vitesse de rotation des roues, la position de la source par rapport à nous...</p>
<p>On fait donc ici la différence dans chaque sens entre son état passif et actif, Nancy parle de “nature simple” et d’état “tendu, attentif ou anxieux”.<a href="#fn4" class="footnoteRef" id="fnref4"><sup>4</sup></a> Cet état d'attention crée immédiatement la différence entre un espace et un paysage, une fois le processus cognitif-perceptif lancé le sujet mesure esthétiquement tous les virons (ciel-terre, terre-mer, soleil-yeux, vent-clapotis, cigales-grillons...). Ainsi le sujet non seulement est dans l'espace mais fait exister (en son intérieur) les signaux de ce dernier. Ainsi on ne voit pas et n'on entend pas le paysage, mais plutôt on <em>le génère par l'écoute et le regard</em>.</p>
<p><strong>ce paragraphe vient en à côté</strong></p>
<p>On notera qu'il n'y a pas une manière de regarder et d'écouter mais énormément de variations possibles. Schaeffer et LMurray-Schaffer, chacun à leur manière ont tenté de nommer/normer les modalités d'écoute. Schaeffer parlait par exemple d'une écoute quotidienne, à mettre en opposition à une écoute réduite : la première étant purement fonctionnelle, à visée informative, tandis que la seconde visait plutôt une appréciation du son &quot;tel quel&quot;, sans tenir compte des informations qui en viennent. M.-S. lui aussi, entrainaît ses étudiant·es à écouter les sons pour leurs qualités acoustiques [<em>insérer une planche d'exercices de M.-S. par ex.</em>]. Cette approche semble limiter la manière dont on écoute le son, car sortir un objet de son contexte afin de l'écouter soi-disant purement ne fait qu'appauvrir l'écoute du timbre.</p>
<p>Cette question du son-objet rejoint les vieilles questions qui ont déjà marqués le monde de l'art sculptural et pictural. Joanna Demers l'aborde dans son article<a href="#fn5" class="footnoteRef" id="fnref5"><sup>5</sup></a> en mettant en perspective les travaux de Francisco Lopez et Toshiya Tsunoda avec les sculptures de Donald Judd et Morris entre autres.</p>
<blockquote>
<p>Reduced listening also focuses so much attention on minute details of sound that it can foster perceptual distortions. More fundamentally, reduced listening <em>perpetuates the falllacy that there is one universal listening experience untouched by culture</em>.<a href="#fn6" class="footnoteRef" id="fnref6"><sup>6</sup></a></p>
</blockquote>
<p>[<em>plus loin une double page avec en face à face donald Judd et un extrait de Wind[Patagonia]</em>]</p>
<p><strong>fin du paragraphe en à côté</strong></p>
<hr />
<blockquote>
<p>[...] no matter how proximate, objects are always given across an intervening space. Seeing acknowledges distance even while compensating for it by bringin what is far off into visibilty. <strong>(p. 188)</strong><a href="#fn7" class="footnoteRef" id="fnref7"><sup>7</sup></a></p>
</blockquote>
<p>Le paysage visuel relèverai alors de l'acte de regard, de mesure esthétique des choses. Pas au sens du beau, mais plutôt dans le sens d'une <em>appréciation sensible</em> de l'espace, de la distribution du vide, des distances. Les différentes composantes visuelles permetteront, par leur frontalité et leurs limitations, au sujet de sentir si telle &quot;vue&quot; fait paysage. C'est &quot; L'expérience d'un morceau d'espace perçu d'un coup &quot;<a href="#fn8" class="footnoteRef" id="fnref8"><sup>8</sup></a>.</p>
<hr />
<p>Un paysage &quot;sonore&quot; relève de l'arpège, de la gradation des sons allant de l'étouffé au clair, du murmure à l'assourdissement, puis peut être de nappes plus calmes. Tout cela advenant séparément, se recomposant dans l'oreille et le coeur, nous laissant le loisir d'une autre mesure paysagère. On perçoit alors une autre limite à l'infini, un autre horizon, plutôt une nappe de fond, sonore.</p>
<hr />
<p>Une fois créée, le paysage particulier reste en nous, inscrit. Accroché à nos oreilles et nos yeux, rémanence du souvenir. Taches noires et acouphènes. Marqué·es au fer rouge on le reverra dans les cartes postales, le ré-entendra dans le chant d'une moissoneuse.</p>
<hr />
<blockquote>
<p>Un jour viendra où nosu saurons percevoir à la mesure de nos souvenirs, où nous nous <em>ressouviendrons pour mieux ressentir</em><a href="#fn9" class="footnoteRef" id="fnref9"><sup>9</sup></a></p>
</blockquote>
<blockquote>
<p>D'une part il [le paysage] se structure, il s'organise, il se refuyse à moi dans son originelle altérité, il se singularise par des signes qui nécessitent la plus grande attention. D'autre part, il <em>s'atmosphérise, il devient une vibration, une odeur, une émotion unique, il se mêle à moi comme s'il n'était pas distinct de moi</em>.<a href="#fn10" class="footnoteRef" id="fnref10"><sup>10</sup></a></p>
</blockquote>
<hr />
<p>Le paysage prenant pour origine une perception sensible et attentive fusionne avec le sujet, iel se retrouve non pas pénétré, mais résonnant avec le paysage. Le coeur qui suit le rythme de la rivière et la peau qui s'harmonise avec le soleil du Midi.</p>
<hr />
<p>Lors des balades d'été dans les vignes vironnantes de chez mes parents, le soleil frappait ma peau et pour souffler un peu, j'allais m'asseoir à l'ombre de l'ancien four à chaux. Une structure en pierre en ruine, laissant apparaître 8 murs, pas de plafonds, les fours ainsi que l'arbre qui venait m'abriter. Les cigales et la brise tendait tout l'espace ensemble, le bourdon le remplissant et le vent faisait revivre quelques instant la terre, bruissait dans l'arbre et quelques jours soufflait le calcaire des pierres. La pendularité de cette balade de quelques kilomètres, réalisée le plus souvent seul, à pied à vélo tissait les liens entre l'ancienne bergerie, le bêlement des moutons parfois, le four à chaux comme &quot;sites&quot; et les différentes pierres, le chemin, mes pas, la légère pente qui menait à la vigne, les ronces, les cigales, les voitures qui passaient plus loin sur la D30... Chaque élément se retrouvait à cet endroit afin de reformuler d'une autre manière le paysage de ce lieu.</p>
<p>Tout se répondait, écho de la pierre aux ronces, du four au bêlement, du soleil à la terre, du ciel à la mer une vingtaine de kilomètres plus loin.</p>
<blockquote>
<p>Reverb at once <em>represents</em> space and <em>constructs</em> it. <a href="#fn11" class="footnoteRef" id="fnref11"><sup>11</sup></a></p>
</blockquote>
<hr />
<p>Le paysage re-sonne en nous, éternellement, à la manière du choeur dans les cathédrales.</p>
<hr />
<p><em>ici, parler de la résonance du reverb, voir ce que l'on peut faire comme analogies visuelles avec l'IR</em></p>
<hr />
<blockquote>
<p>Sound converges on a potential listening point from every direction [...]. The result is and <em>auditory array</em>, analogous to the optical array. [...] Reverberant sound is informative about the size and layout of the surrounding environment.<a href="#fn12" class="footnoteRef" id="fnref12"><sup>12</sup></a></p>
</blockquote>
<div class="figure">
<img src="../../whsop_g/Jupiter&#39;s_Aurora_-_November_5_1997_(31065425271).jpg" />

</div>
<blockquote>
<p>sound provides information about <em>an interaction of materials at a location in an environment</em>.<a href="#fn13" class="footnoteRef" id="fnref13"><sup>13</sup></a></p>
</blockquote>
<p>On décrit le plus souvent un son par <em>sa source</em>, et moins souvent par les qualités acoustiques de ce dernier. C'est ici tout la difficulté du <em>timbre</em>, chose qu'on ne retrouve pas dans une description ocularocentrée (la montagne peut être analogue à un jeu de lignes, à une intensité blanche, etc.). Le son provenant d'une source n'a que très peu de possibilité d'équivalence avec un autre son, [<em>insérer un son des cigales imité par d'autres sons ? il y a un artiste qui doit faire ça ?</em>]</p>
<hr />
<em>idées d'images à mettre en relation</em>
<figure>
<img width="350" src="../../BiblioIconoSono/Images/Doug Aitken Mirage 2.jpg"></img>
<figcaption>
Doug Aitken Mirage Gstaad, February 1, 2019–January 1, 2021
</figcaption>
</figure>
<figure>
<img width="350" src="../../BiblioIconoSono/Images/Doug Aitken Mirage Gstaad, February 1, 2019–January 1, 2021.jpg"></img>
<figcaption>
Doug Aitken Mirage Gstaad, February 1, 2019–January 1, 2021
</figcaption>
</figure>
<hr />
<p><em>ici de la réverb-résonnance vers la &quot;présence&quot; en somme toute du wet vers le dry</em></p>
<hr />
<blockquote>
<p>Light makes the thing appear by dissipating shadow so that objects emerge against the backdrop of empty space, of a void from which shadow has been disbursed ; the object appears to originate from nothingness <strong>(p. 182)</strong><a href="#fn14" class="footnoteRef" id="fnref14"><sup>14</sup></a></p>
</blockquote>
<p>La vue sort alors des ténèbres les objets silencieux, le regard leur distribue la distance, les mesure, les comprends. Si la vue atteste de l'existence, le regard estime le rapport à soi. Alors la proprioception prends sa forme. Le paysage se matérialise dans la mesure de plusieurs objets, de leur distance par rapport à nous ainsi qu'avec un seuil (<em>threshold</em>) variant. Dehors, <em>sky is the limit</em>.</p>
<blockquote>
<p>[...] car le bruit ne provient pas de la région sereine du ciel.<a href="#fn15" class="footnoteRef" id="fnref15"><sup>15</sup></a></p>
</blockquote>
<blockquote>
<p>[le paysage est] <em>un espace à la fois fini et infini, limité et illimité</em></p>
</blockquote>
<hr />
<blockquote>
<p>&quot;[...] car un tableau ne représente pas une image vue à travers un oeil : l'objet réel, tout comme l'objet peint, sont tous deux objets du regard. Un tableau n'est pas image de la vision. [...] Si la vue est toujours vue de quelque chose, elle n'est pas vue d'elle même.&quot; <strong>(p.80)</strong><a href="#fn16" class="footnoteRef" id="fnref16"><sup>16</sup></a></p>
</blockquote>
<hr />
<p>Voir la vue, regarder le miroir, refléter l'oeil, la pupille. Si on la regarde on remarque alors que tout se déforme, s'étire s'allonge dans le voir. Le <em>fisheye</em> grossit les limites, fait fuir l'horizon et allonge les distances. L'écoute elle, écrase et redéploie continuellement l'espace. Le son est traité pour nous centrer dans l'espace, raffermir les distances avec les sources, affirmer leur présence. L'écoute décuple le regard, lui soutire une mesure et la confirme, dans l'immobilité rajoute le déplacement, dans le point de fuite rajoute la compression.</p>
<figure>
<img width="350" src="../../BiblioIconoSono/Images/Fallen Sky (2021), Sarah Sze, at Storm King Art Center, Mountainville, New York. Photos by Nick Knight.jpg"></img>
<figcaption>
Fallen Sky (2021), <em>Sarah Sze</em>, at Storm King Art Center, Mountainville, New York. Photos by Nick Knight
</figcaption>
</figure>
<blockquote>
<p>Si nous consentions à établir à nouveau une opposition un peu forcée entre le visuel et le sonore, nous dirions que le premier nous permet de mieux distribuier et de mieux articuler le paysage tandis que le second nous assure le plus souvent de son existence <strong>(p. 82-83)</strong><a href="#fn17" class="footnoteRef" id="fnref17"><sup>17</sup></a></p>
</blockquote>
<hr />
<p>Le son crée le temps, rend le visuel <em>tactile</em><a href="#fn18" class="footnoteRef" id="fnref18"><sup>18</sup></a>, car la vue prend alors vie, on s'éloigne du paysage silencieux - un silence de mort - pour insuffler le mouvement depuis un point de perception fixe. Si l'espace visuel immobile est considéré commez <em>zone morte</em> alors la simple ouverture à l'écoute induit des échelles, des <em>déplacements</em>, des <em>variations</em>, fade-in &amp; out d'une voiture, bourdon de la rivière, un bang quelques rues plus loin... Au bref, la vie. Le son-paysage fait en nous <em>sonner</em> l'espace, le recompose en lui incorporant du temps, du mouvement. Même à l'arrêt les sons et leurs sources semblent dessiner une toute autre architecture, un tout autre rapport sensoriel.</p>
<hr />
<blockquote>
<p>Là où la présence visible ou tactile se tient dans un &quot;en même temps&quot; <em>immobile</em>, la présence sonore est un &quot;en même temps&quot; <em>essentiellement mobile</em>, vibrant de l'<em>aller-retour entre la source et l'oreille</em>, à travers l'espace ouvert.<a href="#fn19" class="footnoteRef" id="fnref19"><sup>19</sup></a></p>
</blockquote>
<hr />
<figure>
<img width="350" src="../../whsop_g/4.png"></img>
</figure>
<hr />
<p>L'heure venue</p>
<hr />
<p>Pour peu qu'un son se joue on percevra le temps, le marqueur direct de ce dernier serait le battement de l'horloge, métronome cadencé au soleil. On aurait pu peut être, si l'on rêvait moins de mathématiques, diviser le temps en d'autres sons : l'unité temporelle deviendrait par exemple celle des enchaînements des grillons et des oiseaux.</p>
<p><em>on parlera alors du lien oeil oreille</em></p>
<hr />
<blockquote>
<p>La seule introduction possible du langage dans la musique est celle des conjonctions [mais, où, est, donc, or, ni, car]</p>
</blockquote>
<p>Si le son est conjonction, le visuel est les noms et le sujet est lui-même, performant les verbes. Il y a donc bien une sorte de <em>dynamique</em> son et image, composer un paysage en omettant le son reviendrait à lui enlever des <em>connecteurs</em>, ce qui ne va pas forcément ruiner la phrase &quot;La mer, belle bleue&quot; mais lui enlever une composante fine de cette dernière &quot;La mer, belle et bleue&quot;, &quot;La mer, belle car bleue&quot;. Je m'avancerai et dirait que le sonore est de l'ordre de la <em>ponctuation et de la diacritique</em>, le son souligne, sur-signifie, transforme, retarde, rapproche, <em>respire</em>.</p>
<p><a href="https://superpang.bandcamp.com/album/fieldreorder-01">FieldReorder 01 - Martina Lussi &amp; Tim Shaw</a></p>
<blockquote>
<p>Nous sommes de l'eau, de la terre, de la lumière et de l'air contractés, non seulement avant de les reconnaître ou de kles représenter, mais avant de les sentir. <a href="#fn20" class="footnoteRef" id="fnref20"><sup>20</sup></a></p>
</blockquote>
<hr />
<p>Les vagues c'est un peu la montée en tension du tranquille. Le va vient incessant, le clapotis que l'on voit grimper en vague et qui alors sous l'eau, fait roulement de tambour sourd. On voit alors la vague qui monte, monte, gronde et puis s'enroule séchement sur elle même dans un éclatement sonore et visuel (l'écume qui s'éparpille en accents et virgules) et tout retombe ça bruisse vers vous jusqu'à vous mouiller les pieds. Le reste de vague, insignifiant milli- puis micro- puis pico -mètre griffe un peu le sable et couine fshhh, pauvre et s'écrase dans un bruit blanc, laisse un silence bref, et de l'écume parfois.</p>
<hr />
<blockquote>
<p>Les vents courent, volent, s'abattent, finissent, recommencent, planent, siffle, mugissent, rient; frénétiques, lascifs, effrénés, prenant leurs aises sur la vague irascible. Ces hurleurs ont une harmonie. Ils font tout le ciel sonore. Ils soufflent dans la nuée comme dans un cuivre, ils embouchent l'espace; et ils chantent dans l'infini, avec toutes le voix amalgamées des clairons, des buccins, des olifants, des bugles et des trompettes, une sorte de fanfare prométhéenne.<a href="#fn21" class="footnoteRef" id="fnref21"><sup>21</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>Comme ce n'est pas par un acte distinct de l'esprit que nous composons l'idée du timbre, il n'est peut-être pas juste de l'appeler perception ; en percevant le timbre, nous ne mesurons rien. [...] L'intensité et le timbre sont des sensations immédiates, dans lesquelles nous ne pouvons remarquer de complexité qu'en nous servant de l'analyse extérieur.<a href="#fn22" class="footnoteRef" id="fnref22"><sup>22</sup></a></p>
</blockquote>
<h2 id="section"></h2>
<p><em>filer la métaphore ?</em></p>
<h2 id="section-1"></h2>
<p><em>on parlera des points de vue et d'écoute</em></p>
<blockquote>
<p>le point de vue est ouvert sur une divergence qu'il affirme : c'est une autre ville qui correspond à chaque point de vue, chaque point de vue est une autre ville, les villes n'étant unies que par leur distance et ne résonant que par la divergence de leurs séries, de leurs maisons et de leurs rues. Et toujours une autre ville dans la ville. Chaque terme devient un moyen d'aller jusqu:au bout de l'autre, en suivant toute la distance. <a href="#fn23" class="footnoteRef" id="fnref23"><sup>23</sup></a></p>
</blockquote>
<blockquote>
<p>Tout se fait par résonance des disparates, point de vue sur le point de vue, déplacement de la perspective, différenciation de la différence, etnon par identité des contraires. <a href="#fn24" class="footnoteRef" id="fnref24"><sup>24</sup></a></p>
</blockquote>
<h2 id="section-2"></h2>
<h2 id="section-3"></h2>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>En français classique, on sépare les deux termes en &quot;paysage&quot; et &quot;paysage sonore&quot;, le son se transforme alors comme une béquille au terme original, et nous ne voudrons pas de ceci ici.<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>Edith Wyschogrod, <em>Doing before hearing : on the primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>, Paris, Jean-Michel Place, 1980<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>Justine Balibar, <em>Qu'est-ce qu'un paysage ?</em>, p. 8, 2021, ed. jsplus<a href="#fnref3">↩</a></p></li>
<li id="fn4"><p>Jean-Luc Nancy, <em>A l'écoute</em>, p. 36, Galilée, 2002<a href="#fnref4">↩</a></p></li>
<li id="fn5"><p><em>Field Recording, Sound Art and Objecthood</em>, Joanna Demers<a href="#fnref5">↩</a></p></li>
<li id="fn6"><p><em>Field Recording, Sound Art and Objecthood</em>, Joanna Demers<a href="#fnref6">↩</a></p></li>
<li id="fn7"><p>Edith Wyschogrod, <em>Doing before hearing : on the primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>, Paris, Jean-Michel Place, 1980<a href="#fnref7">↩</a></p></li>
<li id="fn8"><p><em>Le paysage</em>, Michael Jakob, 2008, Infolio éditions, p.38<a href="#fnref8">↩</a></p></li>
<li id="fn9"><p>Pierre Sansot, <em>Variations Paysagères</em>, p. 30, Paris, ed. Klincksieck, 1983<a href="#fnref9">↩</a></p></li>
<li id="fn10"><p>Pierre Sansot, <em>Variations Paysagères</em>, p. 30, Paris, ed. Klincksieck, 1983<a href="#fnref10">↩</a></p></li>
<li id="fn11"><p><em>Space within Space: Artificial Reverb and the Detachable Echo</em> - Jonathan Sterne<a href="#fnref11">↩</a></p></li>
<li id="fn12"><p><em>What in the world do we hear? An ecological approach to auditory event perception</em> - William M. Gaver<a href="#fnref12">↩</a></p></li>
<li id="fn13"><p><em>What in the world do we hear? An ecological approach to auditory event perception</em> - William M. Gaver<a href="#fnref13">↩</a></p></li>
<li id="fn14"><p>Edith Wyschogrod, <em>Doing before hearing : on the primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>, Paris, Jean-Michel Place, 1980<a href="#fnref14">↩</a></p></li>
<li id="fn15"><p>Lucrèce, <em>De la nature</em>, VI, 96.<a href="#fnref15">↩</a></p></li>
<li id="fn16"><p><em>Le miroir noir, enquête sur le côté obscur du reflet</em>, Arnaud Maillet<a href="#fnref16">↩</a></p></li>
<li id="fn17"><p>Pierre Sansot, <em>Variations Paysagères</em>, p.82-83, Paris, ed. Klincksieck, 1983<a href="#fnref17">↩</a></p></li>
<li id="fn18"><p>Edith Wyschogrod, <em>Doing before hearing : on the primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>, Paris, Jean-Michel Place, 1980<a href="#fnref18">↩</a></p></li>
<li id="fn19"><p>Jean-Luc Nancy, <em>A l'écoute</em>, p. 36, Galilée, 2002<a href="#fnref19">↩</a></p></li>
<li id="fn20"><p>Gilles Deleuze, <em>Différence et répétition</em>, p. 99, Paris, 1968, PUF<a href="#fnref20">↩</a></p></li>
<li id="fn21"><p>Hugo,* Les Travailleurs de la Mer*, II<a href="#fnref21">↩</a></p></li>
<li id="fn22"><p>Lagneau, <em>Célèbres leçons et fragments</em>, Paris, PUF, 1964, p. 200<a href="#fnref22">↩</a></p></li>
<li id="fn23"><p>Deleuze, <em>Logique du sens</em>, 1969, p. 203<a href="#fnref23">↩</a></p></li>
<li id="fn24"><p>Deleuze, <em>Logique du sens</em>, 1969, p. 203<a href="#fnref24">↩</a></p></li>
</ol>
</div>
