<p>[TRACK 01 – Extrait d’entretien avec Sebastian Dicenaire, créateur de
fictions radiophoniques]</p>
<blockquote>
<h5
id="noun-landscape-countable-and-uncountable-plural-landscapes">Noun:
landscape (countable and uncountable, plural landscapes)</h5>
<ul>
<li>A portion of land or territory which the eye can comprehend in a
single view, including all the objects it contains.</li>
<li>A sociological aspect of a physical area.</li>
<li>A picture representing a real or imaginary scene by land or sea, the
main subject being the general aspect of nature, as fields, hills,
forests, water, etc.</li>
<li>The pictorial aspect of a country.</li>
<li>(computing, printing, uncountable) a mode of printing where the
horizontal sides are longer than the vertical sides</li>
<li>A space, indoor or outdoor and natural or man-made (as in “designed
landscape”) (figuratively) a situation that is presented, a
scenario</li>
</ul>
</blockquote>
<blockquote>
<h5 id="noun-soundscape-plural-soundscapes">Noun: soundscape (plural
soundscapes)</h5>
<ul>
<li>An acoustic environment, a virtual/emotional environment created
using sound.</li>
<li>A soundscape composition, an electroacoustic musical composition
creating a sound portrait of a sound environment.</li>
</ul>
</blockquote>
<p>On verra qu’outre la notion d’environnement et l’étymologie en -scape
qui semble les relier, les deux termes paraissent assez éloignés.
Pourtant nous les regrouperons ici sous l’appellation de paysage. Non
pas par praticité, mais plutôt car le soundscape n’est qu’une
conceptualisation grossière du paysage en tant que son, ou comme préfère
Murray Schaffer le « paysage sonore ». On se placera donc en léger
désaccord, car tout au long de ce mémoire, nous partons du postulat que
le paysage est une sensation, une expérience sensorielle parcellaire et
totale, que l’on n’expérimente pas un paysage réel par morceaux et si
l’on assiste à la reproduction d’un enregistrement sonore d’un paysage
alors on a affaire qu’à cela, l’écoute d’une trace.</p>
<blockquote>
<p>L’environnement dont nous faisons l’expérience, celui que nous
connaissons et dans lequel nous évoluons, n’est pas découpé selon
différents chemins sensoriels par lesquels nous y accédons. […] La
puissance du concept prototypique de <em>landscape</em> réside
précisément dans le fait qu’il n’est lié à aucun registre sensoriel
spécifique.<span
class="sidenote-wrapper"><label for="sn-0" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-0" class="margin-toggle"/><span
class="sidenote">Ingold Tim, « Against soundscape », in <em>Autumn
Leaves</em>, ed. Angus Calyle, Londres-Paris, CRiSAP/Double Entendre,
2007 cité dans Bonnet François J., <em>Les mots et les sons, un archipel
sonore</em>, L’Éclat, 2012<br />
<br />
</span></span></p>
</blockquote>
<p>Où l’on perçoit une section d’un espace réel ou imaginaire, où on se
le représente à partir des percepts offerts. À travers principalement la
vue et l’ouïe.</p>
<blockquote>
<p>Perception as a representing act is distinguished from immersion in
the sensible ; it involves an anterior sorting out, presumes a directive
surge of consciousness and an intended object.<span
class="sidenote-wrapper"><label for="sn-1" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-1" class="margin-toggle"/><span
class="sidenote">Wyschogrod Edith, « Doing before hearing : on the
primacy of touch », dans <em>Textes pour Emmanuel Levinas </em>, Paris,
Jean-Michel Place, 1980, p. 181<br />
<br />
</span></span></p>
</blockquote>
<p>Picture, en anglais, c’est donc la transmission d’un souvenir (à
priori) non narratif, ne faisant pas anecdote en soi. Si la description
d’un lieu forme un récit, on n’y intègre pas forcément les actions s’y
déroulant. On dépeint un espace arrêté, une portion délimitée de
celui-ci, par apposition mentale d’un cache (on pose une fenêtre)<span
class="sidenote-wrapper"><label for="sn-2" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-2" class="margin-toggle"/><span
class="sidenote">Anne Cauquelin, <em>L’invention du paysage</em>, Paris,
PUF, 2000, 180 p.<br />
<br />
</span></span> mettant en avant un espace perceptif. Tout l’enjeu de
cette pratique du <em>picturing</em>, soit-elle en puissance ou non, est
non pas de projeter le paysage et ses potentialités sensorielles, mais
plutôt de (se) projeter dans les ressentis d’un·e rapporteurse de
paysage.</p>
<blockquote>
<p>“[…] car un tableau ne représente pas une image vue à travers un œil
: l’objet réel, tout comme l’objet peint, sont tous deux objets du
regard. Un tableau n’est pas image de la vision. […] Si la vue est
toujours vue de quelque chose, elle n’est pas vue d’elle-même.<span
class="sidenote-wrapper"><label for="sn-3" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-3" class="margin-toggle"/><span
class="sidenote">Maillet Arnaud, <em>Le miroir noir, enquête sur le côté
obscur du reflet</em>, L’Éclat, « Kargo », 2005, p. 80<br />
<br />
</span></span></p>
</blockquote>
<p>La captation confine le paysage en un extrait choisi, mais le paysage
réel, au sens où il est en continuité avec notre situation sensorielle,
s’offre d’une autre manière aux sens.</p>
<blockquote>
<p>[le paysage est] <em>un espace à la fois fini et infini, limité et
illimité</em><span
class="sidenote-wrapper"><label for="sn-4" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-4" class="margin-toggle"/><span
class="sidenote">Balibar Justine, <em>Qu’est-ce qu’un paysage ?</em>,
Vrin, « Chemins Philosophiques », 2021, p. 117<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p><a href="https://www.youtube.com/watch?v=wbPclkhoXdE">TRACK 02 -
Baute Pascal, De 20 Hz à 20 kHz le spectre d’audition humain</a></p>
<figure>
<img src="../../BiblioIconoSono/Images/wikimedia_spectrevisible.png">
<figcaption>
Gringer Ronan Phillip, <em>Situation du visible dans le spectre
électromagnétique</em>, Wikimedia Commons
</figcaption>
</figure>
<hr />
<blockquote>
<p>Le paysage n’existe qu’en relation avec un sujet esthétique, il est
l’objet d’une <em>perception</em> et d’une <em>expérimentation</em>,
lesquelles sont médiatisées par toute une série de filtres culturels
variés<span
class="sidenote-wrapper"><label for="sn-5" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-5" class="margin-toggle"/><span
class="sidenote">Ibid., p. 8<br />
<br />
</span></span></p>
</blockquote>
<p>Un paysage retranscrit (car l’on est bien scribe face à un paysage)
se trouve inévitablement transformé par le prisme sensoriel dea scribe,
un accord de couleur, un réglage d’amplitude, un angle de captation
n’étant jamais objectif pour qui que ce soit. Quiconque retranscrit
soi-disant objectivement un lieu se retrouve confronté à sa propre
sensibilité, ses propres filtres. La posture du scribe ne va pas sans
celle de l’enlumineur, de l’artiste. Personne, même l’audio-naturaliste
lea plus chevronée ne pourra restituer une expérience réelle d’un
paysage. C’est la fameuse fenêtre du peintre, c’est le <em>picture</em>
anglais. L’objectivisme des Becher est tout autant un échec que celui
d’Ayn Rand, au sens que la réalité existe bel et bien au-delà de la
conscience, mais qu’il est impossible, et non-souhaitable de vouloir
chercher à standardiser cette dernière, car l’expérience sensorielle
étant fondamentalement basée sur les points de perception individuels,
la collectivisation des ressentis n’appelle en aucun cas à l’édition
d’un standard affectif.</p>
<p>Un ciel sans nuages, en lumière « neutre » n’est pas souhaitable et
se forme en antithèse à la notion même de paysage.</p>
<blockquote>
<p>le point de vue est ouvert sur une divergence qu’il affirme : c’est
une autre ville qui correspond à chaque point de vue, chaque point de
vue est une autre ville, les villes n’étant unies que par leur distance
et ne résonant que par la divergence de leurs séries, de leurs maisons
et de leurs rues. Et toujours une autre ville dans la ville. Chaque
terme devient un moyen d’aller jusqu’au bout de l’autre, en suivant
toute la distance.<span
class="sidenote-wrapper"><label for="sn-6" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-6" class="margin-toggle"/><span
class="sidenote">Deleuze Gilles, <em>Logique du Sens</em>, Paris, Les
Éditions de Minuit, « Critique », 1969, p. 203<br />
<br />
</span></span></p>
</blockquote>
<p>[TRACK 03 – Extrait d’entretien avec Elsa de Smet, historienne de
l’art]</p>
<p>La sonnance collective n’est pas et n’a pas à vocation à être
harmonieuse, elle résulte d’un chaos de timbres et d’amplitudes, de
couleurs et de masse. Le paysage consensuel n’est que celui fabriqué,
répété ad nauseam à travers différents mediums. L’identité se crée alors
dans la démultiplication aphone d’un élément standard. La différence
infime entre chaque reproduction contribue à machiner un objet-paysage.
Le Mont-Blanc en est un parfait exemple, car seul l’alpiniste chevronné
ou les habitantes des alentours pourront témoigner d’une vision
particulière de ce site. Certains entendront les craquements du tain
tandis que d’autres en verront la silhouette par tout temps. Si l’on va
voir le Mont-Blanc dans l’attente de ce que l’on a vu, on sera satisfait
car on aura re-connu l’endroit, mais toute la surprise et la sensation
paysagère résidera non pas dans la correspondance à l’image-paysage,
mais bien dans l’agencement réel des composantes attendues, où la
combinatoire liée au temps est forcément inattendue.</p>
<blockquote>
<p>Authentique, ce serait un paysage donné à un individu […], un bout de
nature découverte et non reconnue. […] Il impliquerait en outre la
<em>présence synesthésique de tous les sens au lieu de la soumission
béate au diktat de l’œil et à la sémantique de la vision </em>.<span
class="sidenote-wrapper"><label for="sn-7" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-7" class="margin-toggle"/><span
class="sidenote">Jakob Michael, <em>Le Paysage</em>, Infolio éditions,
2008, p. 14<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>L’avènement du paysage étant le produit d’une perception, il est
aussi et surtout le produit de <em>régimes d’attention</em> de l’ouïe et
de la vue, qui deviennent alors, regard et écoute. Pour exemple, on voit
un arbre, mais on regarde les interstices et les jeux de lumière entre
les feuillages, ses nœuds. Ou encore, on entend une voiture
s’approchant, mais on écoute la cadence du moteur, la vitesse de
rotation des roues, la position de la source par rapport à nous.</p>
<p>On fait donc ici la différence dans chaque sens entre son état passif
et actif, J.-L. Nancy parle de « nature simple » et d’état « tendu,
attentif ou anxieux ». Cet état d’attention crée immédiatement la
différence entre un espace et un paysage, l’espace est présent,
l’individu en extirpe une nature paysagère par l’attention. Une fois le
processus cognitif-perceptif lancé le sujet mesure esthétiquement tous
les virons (ciel-terre, terre-mer, soleil-yeux, vent-clapotis,
cigales-grillons…). Ainsi le sujet non seulement est dans l’espace, mais
fait exister (en son intérieur) les signaux de ce dernier. Ainsi on ne
voit pas et n’on entend pas le paysage, mais plutôt on <em>le génère par
l’écoute et le regard</em>. Ces états attentifs font surgir le non-vu,
le non-commun. La subjectivité est bien au cœur de l’expérience
paysagère.</p>
<p>Le paysage se présente donc comme une relation écologique, au sens où
l’on entretient une relation sensorielle avec l’espace et cette
attention sensorielle permet l’avènement pour nous du paysage. On peut
donc considérer la sensation paysagère comme une fascination vis-à-vis
d’une expérience dans un espace circonscrit par des seuils perceptifs à
travers une (in) certaine temporalité. Cette fascination n’est pas sans
rappeler celle convoquée par la sensation de sublime qui se trouve plus
être une sensation de vertige, de peur instinctive face à une immensité
nous surplombant, qui tétanise. Les cascades et les montagnes dans ce
répertoire en tant que site font « impression », mais ce qui les rend
<em>paysage</em>, c’est leur ancrage dans une réalité géographique et
perceptive.</p>
<blockquote>
<p>A model that understands the world, and cinema, to be made up not
primarily of objects, substances, structures or representations, but
rather of relational processes, encounters, or events<span
class="sidenote-wrapper"><label for="sn-8" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-8" class="margin-toggle"/><span
class="sidenote">Ivakhiv A., <em>Ecologies of the moving image: Cinema
Affect Nature</em>, Waterloo: Wilfrid Laurier University Press, 2013
cité dans, Leth Meilvang Emil, « Cinema, meteorology, and the erotics of
weather », dans <em>NECSUS. European Journal of Media Studies</em>,
Printemps 2018, p. 70<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>Dans une démarche que l’on serait tenté de définir comme contraire à
l’objectivisme, Schaeffer et Murray-Schaffer, chacun à leur manière, ont
tenté de classifier les modalités d’écoute. Schaeffer par exemple au
travers d’une nomenclature : d’une part l’écoute quotidienne qui serait
purement fonctionnelle, à visée informative (on devine le son), de
l’autre l’écoute réduite qui serait une appréciation du son « tel quel
», sans tenir compte des informations qui en viennent. M.-S. lui aussi,
entrainait ses étudiant·es à écouter les sons pour leurs qualités
acoustiques. Cette seconde manière d’écouter, très utile dans un
contexte audio-naturaliste, se révèle plus pernicieuse car elle cherche
à sortir le son de son contexte (ne serait-ce que temporairement)
paysager. En se concentrant sur un son particulier, on oublie toute la
chorégraphie dont il fait partie. Les écologistes actuels, utilisant le
son dans leurs recherches, ont compris à quel point étaient importantes
les correspondances entre sons. Il a été noté que les oiseaux en ville
chantaient en effet plus fort que ceux présents dans les milieux ruraux,
ou encore que chaque espèce intercalait ses appels par rapport à ceux
d’autres espèces dans le même milieu. La durée d’un son n’est alors pas
indépendante de son environnement sonore.<span
class="sidenote-wrapper"><label for="sn-9" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-9" class="margin-toggle"/><span
class="sidenote">Pijanowski Bryan C., Villanueva-Rivera Luis J. et al.,
« Soundscape Ecology: The Science of Sound in the Landscape »,
<em>BioScience</em>, Volume 61, Mars 2011, pp. 203–216<br />
<br />
</span></span></p>
<blockquote>
<p>Comme ce n’est pas par un acte distinct de l’esprit que nous
composons l’idée du timbre, il n’est peut-être pas juste de l’appeler
perception ; en percevant le timbre, nous ne mesurons rien. […]
L’intensité et le timbre sont des sensations immédiates, dans lesquelles
nous ne pouvons remarquer de complexité qu’en nous servant de l’analyse
extérieure.<span
class="sidenote-wrapper"><label for="sn-10" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-10" class="margin-toggle"/><span
class="sidenote">Lagneau, <em>Célèbres leçons et fragments </em>, Paris,
PUF, 1964, p. 200 cité dans Nancy Jean-Luc, <em>À l’écoute</em>,
Gallilée, 2002<br />
<br />
</span></span></p>
</blockquote>
<p>Cette question du son-objet rejoint d’anciennes problématiques ayant
déjà marqués le monde de l’art sculptural et pictural. Joanna Demers
l’aborde dans son article en mettant en perspective les travaux de
Francisco Lopez et Toshiya Tsunoda avec les sculptures de Donald Judd et
Morris entre autres. Lopez notamment affirme que tout travail de paysage
sonore (<em>soundscaping</em>) se doit de s’émanciper du couple
cause-objet sonore. Il faut chercher à supprimer par l’écoute (réduite),
toute information localisatrice, il écrase le lieu pour suivre le vent.
Arrache le son au paysage pour en faire un objet à part.</p>
<blockquote>
<p>Reduced listening also focuses so much attention on minute details of
sound that it can foster perceptual distortions. More fundamentally,
reduced listening <em>perpetuates the falllacy that there is one
universal listening experience untouched by culture</em>.<span
class="sidenote-wrapper"><label for="sn-11" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-11" class="margin-toggle"/><span
class="sidenote">Demers Joanna,« Field Recording, Sound Art and
Objecthood », <em>Organised Sound</em>, Volume 14 , Avril 2009 ,
p. 42 <br />
<br />
</span></span></p>
</blockquote>
<p>[TRACK 04 - Francisco López, Wind[Patagonia], extrait ]</p>
<figure>
<img src="../../BiblioIconoSono/Images/uploads3wikiartorg00336images_donald-judd_untitled-1994.jpg">
<figcaption>
Donald Judd, <em>Sans Titre</em>, 1994, WikiArt.org
</figcaption>
<p>L’instabilité des sources et des timbres sonores dans le paysage,
perpétuellement modulés par les aléas alentour en rend la notation et
l’extirpation de ces derniers de leur situation un arrachage, qui ne
parvient qu’à les amener à un état étrange, celui d’une certaine durée
dans l’air.</p>
<hr />
<p>La perception et l’importance que chacun·e accorde au timbre d’un
environnement, crée des qualités de paysages différentes, la culture
propre à chaque communauté infuse dans le sujet et lui ouvre l’attention
vers <em>quelque chose de particulier</em>, d’avoir arpenté le paysage
inconsciemment l’on se retrouve partie intégrante de ce dernier. La
subtilité des timbres présents dans un paysage sera perçue très
différemment entre deux individus ayant appartenu à des contextes
culturels différents, créant des processus de perception et
d’appréciation sensoriels. Ainsi chacun·e des deux perçoit un autre
paysage, lui appliquant une grille de lecture propre. Le sensoriel
s’allie au culturel pour développer un narratif.</p>
<p>Une fois créé, le paysage particulier reste en nous, inscrit.
Accroché à nos oreilles et nos yeux, rémanence du souvenir. Taches
noires et acouphènes. Marqué·es au fer rouge on le reverra dans les
cartes postales, le ré-entendra dans le chant d’une moissonneuse.</p>
<hr />
<blockquote>
<p>Un jour viendra où nous saurons percevoir à la mesure de nos
souvenirs, où nous nous <em>ressouviendrons pour mieux
ressentir</em><span
class="sidenote-wrapper"><label for="sn-12" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-12" class="margin-toggle"/><span
class="sidenote">Sansot Pierre, <em>Variations Paysagères</em>, Paris,
Klincksieck, 1983, p. 30<br />
<br />
</span></span></p>
</blockquote>
<p>Le paysage prenant pour origine une perception sensible et attentive
fusionne avec le sujet, iel se retrouve non pas pénétré, mais résonnant
avec le paysage. Le cœur qui suit le rythme de la rivière et la peau qui
s’harmonise avec le soleil du Midi.</p>
<p>Lors des balades d’été dans les vignes, le soleil frappait ma peau et
pour souffler un peu, j’allais m’asseoir à l’ombre de l’ancien four à
chaux. Une structure en pierre en ruine, laissant apparaître 8 murs, pas
de plafonds, les fours ainsi que l’arbre qui venait m’abriter. Les
cigales et la brise tendaient tout l’espace ensemble, le bourdon le
remplissant et le vent faisait revivre quelques instants la terre,
bruissait dans l’arbre et quelques jours, soufflait le calcaire des
pierres. La pendularité de cette balade de quelques kilomètres, réalisée
le plus souvent seul, à pied à vélo tissait les liens entre l’ancienne
bergerie, le bêlement des moutons parfois, le four à chaux comme « sites
» et les différentes pierres, le chemin, mes pas, la légère pente qui
menait à la vigne, les ronces, les cigales, les voitures qui passaient
plus loin sur la D30… Chaque élément se retrouvait à cet endroit afin de
reformuler d’une autre manière le paysage de ce lieu.</p>
<blockquote>
<p>D’une part il [le paysage] se structure, il s’organise, il se refuse
à moi dans son originelle altérité, il se singularise par des signes qui
nécessitent la plus grande attention. D’autre part, il
<em>s’atmosphérise, il devient une vibration, une odeur, une émotion
unique, il se mêle à moi comme s’il n’était pas distinct de
moi</em>.<span
class="sidenote-wrapper"><label for="sn-13" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-13" class="margin-toggle"/><span
class="sidenote">Idem.<br />
<br />
</span></span></p>
</blockquote>
<hr />
<blockquote>
<p>[…] no matter how proximate, objects are always given across an
intervening space. Seeing acknowledges distance even while compensating
for it by bringing what is far off into visibility.<span
class="sidenote-wrapper"><label for="sn-14" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-14" class="margin-toggle"/><span
class="sidenote">Wyschogrod Edith, « Doing before hearing : on the
primacy of touch », op. cit., p. 188<br />
<br />
</span></span></p>
</blockquote>
<p>Le paysage visuel relèverait alors de l’acte de regard, de mesure
esthétique des choses. Pas au sens du beau, mais plutôt dans le sens
d’une <em>appréciation sensible</em> de l’espace, de la distribution du
vide, des distances. Les différentes composantes visuelles permettront,
par leur frontalité et leurs limitations, au sujet de sentir si telle «
vue » fait paysage. C’est « L’expérience d’un morceau d’espace perçu
d’un coup »<span
class="sidenote-wrapper"><label for="sn-15" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-15" class="margin-toggle"/><span
class="sidenote">Jakob Michael, <em>Le paysage</em>, op. cit.,
p.38<br />
<br />
</span></span>.</p>
<blockquote>
<p>Dans les instants les plus rares, on pourrait définir la musique :
<em>quelque chose de moins sonore que le sonore</em>. Quelque chose qui
<em>lie le bruyant</em> (Pour le dire autrement : un bout de sonore
ligoté (p.24)</p>
</blockquote>
<p>Le paysage sonore, a longtemps été considéré comme une façon musicale
d’écouter les sons de l’environnement, tout particulièrement car ces
bruits se lient, se répondent et s’entrechoquent. Si l’on a considéré le
paysage (le monde) comme musique, c’est car on a cru entendre un
orchestre alors. Pourtant plus simplement, chronologiquement l’orchestre
a écouté les paysages.</p>
<p>Si le bruyant est lié dans le paysage, il s’entrelace avec la
lumière, avec l’air ambiant, car dans leur complémentarité ils tissent
la mesure spatiale, couvrent et découvrent l’espace, distribuent le sol
et le ciel. Le sol où s’arrêtent et se répercutent les sons, où la
lumière choit et le ciel d’où elle vient et d’où ils semblent descendre.
Le point de percept paysager est ancré par la gravité et se tend vers
l’infini horizontal, s’échappe en un point de fuite, au seuil acoustique
et visuel.</p>
<p>L’infini relève de l’arpège, de la gradation des sons allant de
l’étouffé au clair, du murmure à l’assourdissement, puis peut être de
nappes plus calmes. Tout cela advenant séparément, se recomposant dans
l’oreille, l’œil et le cœur, nous laissant le loisir d’une autre mesure
paysagère. On perçoit alors une autre limite à l’infini, un autre
horizon, plutôt un tissu tendu de nous jusqu’au seuil du sensible.</p>
<blockquote>
<p>Le paysage, donc […], n’est pas une représentation de l’infini, mais
une mise en présence de l’infini.<span
class="sidenote-wrapper"><label for="sn-16" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-16" class="margin-toggle"/><span
class="sidenote">Balibar Justine, <em>Qu’est ce qu’un paysage</em>, op.
cit., p.120<br />
<br />
</span></span></p>
</blockquote>
<blockquote>
<p>Le ciel limpide parmi les entrelacs de la vigne et des roses<span
class="sidenote-wrapper"><label for="sn-17" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-17" class="margin-toggle"/><span
class="sidenote">Rolland Romain, <em>Jean-Christophe Tome 9 : Le buisson
ardent</em>, 1911, cité dans Charles Daniel, <em>Gloses sur John
Cage</em>, UGE, « 1018 », 1978<br />
<br />
</span></span></p>
</blockquote>
<p>Le paysage, entrelac du fini et de l’infini.</p>
<hr />
<blockquote>
<p>Sound converges on a potential listening point from every direction
[…]. The result is and <em>auditory array</em>, analogous to the optical
array. […] Reverberant sound is informative about the size and layout of
the surrounding environment.<span
class="sidenote-wrapper"><label for="sn-18" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-18" class="margin-toggle"/><span
class="sidenote">Gaver William M., « What in the world do we hear? An
ecological approach to auditory event perception », <em>Ecological
Psychology</em>, Mars 1993, p. 4<br />
<br />
</span></span></p>
<p>sound provides information about <em>an interaction of materials at a
location in an environment</em>.<span
class="sidenote-wrapper"><label for="sn-19" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-19" class="margin-toggle"/><span
class="sidenote">Gaver William M., « What in the world do we hear? An
ecological approach to auditory event perception », <em>Ecological
Psychology</em>, Mars 1993, p. 4<br />
<br />
</span></span></p>
</blockquote>
<p>À noter que l’on ne peut simplifier l’espace que suggère le sonore à
une simple identité entre la hauteur d’une note et sa distance perçue
avec le sujet écoutant. Par exemple, un ultrason très haut pourrait se
situer tout aussi loin qu’un tremblement sourd. L’information sensible
d’une source et de sa position nous renvoie à notre propre situation
dans l’espace, les opérations cognitives qui se succèdent nous
transportent dans l’espace. Un paysage se constitue de subtils
déphasages des hauteurs et des volumes, permettant de s’identifier, la
multiplicité des timbres des différents sons traversant l’espace créent
le timbre propre au paysage en cet instant.</p>
<figure>
<img width="350" src="../../wshop_g/7.jpg"></img>
<figcaption>
Zach Liebermann, Horizons, 2022, post Instagram
</figcaption>
</figure>
<p> – &gt;Light makes the thing appear by dissipating shadow so that
objects emerge against the backdrop of empty space, of a void from which
shadow has been disbursed ; the object appears to originate from
nothingness.<span
class="sidenote-wrapper"><label for="sn-20" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-20" class="margin-toggle"/><span
class="sidenote">Wyschogrod Edith, « Doing before hearing : on the
primacy of touch », op. cit., p. 182<br />
<br />
</span></span></p>
<p>La vue sort alors des ténèbres les objets silencieux, le regard leur
distribue la distance, les mesure, les comprends. Si la vue atteste de
l’existence, le regard estime le rapport à soi. La proprioception prend
sa forme. Le paysage se matérialise dans la mesure d’objets, de leur
distance par rapport à soi ainsi qu’avec un seuil (<em>threshold</em>)
variant. Dehors, seuls le ciel et la mer en sont les limites.</p>
<blockquote>
<p>[…] car le bruit ne provient pas de la région sereine du ciel.<span
class="sidenote-wrapper"><label for="sn-21" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-21" class="margin-toggle"/><span
class="sidenote">Lucrèce, <em>De rerum natura</em>, livre IV<br />
<br />
</span></span></p>
</blockquote>
<figure>
<img src="../../BiblioIconoSono/Images/Yannick Dauby - Penghu July 2020.png">
<figcaption>
Dauby Yannick, Penghu July 2020
</figcaption>
</figure>
<p>[TRACK 05 – Dauby Yannick, Dit lip hue hng 直入花園, extrait]</p>
<hr />
<p>L’oeil lui contracte l’espace, comprime les distances, déplaçant (
map() ) ces dernières sur le spectre coloré, renvoie un
<em>fisheye</em>. Le regard, lui, les réinterprète, visualise les
virons, crée les contours aux formes et les retourne, les écrase et
recrache un diaporama.</p>
<p>Le <em>fisheye</em> grossit les limites, fait fuir l’horizon et
allonge les distances. L’écoute, elle, écrase et redéploie
continuellement l’espace. Le son est traité pour nous recentrer
(audiopositionner) dans l’espace, raffermir les distances avec les
sources, affirmer leur présence, leur réalité. L’écoute décuple le
regard, lui soutire une mesure et la confirme, dans l’immobilité rajoute
le déplacement, dans le point de fuite rajoute la compression.</p>
<figure>
<img width="350" src="../../BiblioIconoSono/Images/Fallen Sky (2021), Sarah Sze, at Storm King Art Center, Mountainville, New York. Photos by Nick Knight.jpg"></img>
<figcaption>
Sze Sarah, <em>Fallen Sky</em>, Sarah Sze, Storm King Art Center,
Mountainville, New York, 2021
</figcaption>
</figure>
<blockquote>
<p>Il n’y a rien dans le sonore qui nous renvoie de nous-mêmes une image
localisable, <em>symétrique</em>, inversée, comme le fait le miroir. En
latin le reflet se dit <em>repercussio</em>. L’image est une poupée
localisable.<span
class="sidenote-wrapper"><label for="sn-22" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-22" class="margin-toggle"/><span
class="sidenote">Quignard Pascal, <em>La Haine de la musique</em>
(1996), Gallimard, « Folio », 2002, p.112<br />
<br />
</span></span></p>
</blockquote>
<p>Il faudrait prendre l’oreille comme un miroir des sons, une sorte de
dispositif sonifiant, qui renvoie les sons à eux-mêmes, qui les tord de
leur source dans la cave de l’oreille, les noues dans la cage de la
perception, les nerfs optiques surchargés. Le tympan déplace le son en
le faisant résonner et le cerveau le réinterprète. Il se dé-charge sur
le cerveau, lui laisse trouver l’où et le quoi alors que les yeux, les
cônes se sur-chargent, ne sous-traitent pas la vue. Tout est rendu
identifiable dès que découvert.</p>
<p>Lorsque l’on découvre un paysage, on prend le bout de terre et on le
dissèque, enregistrant physiquement toutes ses caractéristiques. Le
regard, pour peu que la lumière soit là, laisse alors de place à
l’imagination. Le faisceau visuel incide sur la forme et tend à la
circonscrire, à forcer les couleurs à se fixer à l’œil, l’onde est
concentrée (coincée) dans la rétine. Le son (bruissement), caché
au-dessous des formes, vient parer, recouvrir le paysage mis à nu.</p>
<p>Le sonore, a contrario du lumineux, rebondit dans le temps. Le mur du
son.</p>
<blockquote>
<p>Si nous consentions à établir à nouveau une opposition un peu forcée
entre le visuel et le sonore, nous dirions que le premier nous permet de
mieux distribuer et de mieux articuler le paysage tandis que le second
nous assure le plus souvent de son existence<span
class="sidenote-wrapper"><label for="sn-23" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-23" class="margin-toggle"/><span
class="sidenote">Sansot Pierre, <em>Variations Paysagères</em>, op.
cit., pp. 82-83<br />
<br />
</span></span></p>
</blockquote>
<p>L’œil consent au chaos, y déniche des régularités, des lois,
l’oreille, est contrainte de perdre la trace de ce qu’elle a retranscrit
dès que le signal a été émis, le son n’existe qu’au présent.</p>
<hr />
<p>Le son crée le temps, rend le visuel <em>tactile</em><span
class="sidenote-wrapper"><label for="sn-24" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-24" class="margin-toggle"/><span
class="sidenote">Wyschogrod Edith, « Doing before hearing : on the
primacy of touch », dans <em>Textes pour Emmanuel Levinas </em>, Paris,
Jean-Michel Place, 1980, p. 181<br />
<br />
</span></span>, car la vue prend alors vie, on s’éloigne du paysage
silencieux - un silence de mort - pour insuffler le mouvement depuis un
point de perception fixe. Si l’espace visuel immobile est considéré
comme <em>zone morte</em> alors la simple ouverture à l’écoute induit
des échelles, des <em>déplacements</em>, des <em>variations</em>,
fade-in &amp; out d’une voiture, bourdon de la rivière, un bang quelques
rues plus loin… Au bref, la vie. Le son-paysage fait en nous
<em>sonner</em> l’espace, le recompose en lui incorporant du temps, du
mouvement. Même à l’arrêt, les sons et leurs sources semblent dessiner
une toute autre architecture, un tout autre rapport sensoriel.</p>
<blockquote>
<p>S’absenter de l’environ n’est pas possible pour l’ouïe. Il n’y a pas
de paysage sonore parce que le paysage suppose l’écart devant le
visible. <em>Il n’y a pas d’écart devant le sonore.</em><span
class="sidenote-wrapper"><label for="sn-25" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-25" class="margin-toggle"/><span
class="sidenote">Quignard Pascal, <em>La Haine de la musique</em>, op.
cit., p. 110<br />
<br />
</span></span></p>
</blockquote>
<p>Le noise se glisse « au-dessus et au-dessous »<span
class="sidenote-wrapper"><label for="sn-26" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-26" class="margin-toggle"/><span
class="sidenote">Charles Daniel, <em>Gloses sur John Cage</em>, op.
cit., p.93<br />
<br />
</span></span> de l’entente, il prend l’interstice comme tangente. Ombre
sonore. Il se fond dans ce qu’on appelle le silence, il constitue la
matrice même, la matière noire que l’on cherche inlassablement renferme
la même potentialité que le bruissement de fond.</p>
<p>Le fond sonore est l’espace possible dans le temps.</p>
<blockquote>
<p>The background noise never ceases; it is <em>limitless, continuous,
unending, unchanging</em>. It has itself no background, no
contradictory. […]<span
class="sidenote-wrapper"><label for="sn-27" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-27" class="margin-toggle"/><span
class="sidenote">Cox Christoph, « Sound Art and the Sonic Unconscious »,
<em>Organised Sound</em>, Volume 14, p. 19<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>Le paysage est vu comme arrêté, figé par l’huile et l’encre, mais il
se trouve qu’il est inexorablement teinté par le temps, rien qu’une
photo, de par son diaphragme et sa vitesse d’obturation fera entrer
<em>un certain temps</em> dans l’appareil. La photo est une boucle
musicale.</p>
<blockquote>
<p>La photographie n’enregistre pas la réalité matérielle qui se trouve
devant l’objectif, mais son aspect visible, déterminé par le point de
vue et le champ visuel à un moment précis et dans un éclairage donné.
[…] [le photographe] s’expose à créer des <em>hiatus</em>, des
télescopages, des juxtapositions fortuites, des condensations et <em>des
lacunes inattendues dans la logique de l’organisation
spatiale</em>.<span
class="sidenote-wrapper"><label for="sn-28" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-28" class="margin-toggle"/><span
class="sidenote">Peter Galassi, <em>Before Photography: Painting and the
Invention of Photography</em>, New York, MoMa, 1981, cité dans Desportes
Marc, <em>Paysages en mouvement</em>, Gallimard, 2005<br />
<br />
</span></span></p>
</blockquote>
<p>Opérer une coupure dans le temps pour archiver un morceau d’espace,
c’est approcher le paysage de la perspective du médecin légiste : on
incise, découpe, retourne une peau en voie de putréfaction pour se
rendre compte de ce qui l’a amenée là. Le sensible se glisse parfois
dans l’arrêt du temps, dans les images de cadavres.</p>
<hr />
<blockquote>
<p>Là où la présence visible ou tactile se tient dans un « en même temps
» <em>immobile</em>, la présence sonore est un « en même temps »
<em>essentiellement mobile</em>, vibrant de l’<em>aller-retour entre la
source et l’oreille</em>, à travers l’espace ouvert.<span
class="sidenote-wrapper"><label for="sn-29" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-29" class="margin-toggle"/><span
class="sidenote">Nancy Jean-Luc, <em>À l’écoute</em>, Galilée, 2002,
p. 36<br />
<br />
</span></span></p>
</blockquote>
<blockquote>
<p>chaque son, chaque bloc devient image. De son, <em>il vire en
bruit</em>. <span
class="sidenote-wrapper"><label for="sn-30" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-30" class="margin-toggle"/><span
class="sidenote">Charles Daniel, <em>Gloses sur J. Cage</em>, op. cit.,
p. 207<br />
<br />
</span></span></p>
</blockquote>
<figure>
<img width="350" src="../../whsop_g/4.png">
<figcaption>
Hamadicharef Brahim, <em>Choir waveform sound analysis</em>, dans
<em>Objective Prediction of Sound Synthesis Quality</em>, consulté en
novembre 2022 <a
href="https://www.researchgate.net/publication/228972415_Objective_Prediction_of_Sound_Synthesis_Quality">https://www.researchgate.net/publication/228972415_Objective_Prediction_of_Sound_Synthesis_Quality</a>
</figcaption>
</figure>
<blockquote>
<p>Penser le Temps - c’est penser l’identité de l’aller et du retour.
[…] dans le même trait <em>revenir</em>.<span
class="sidenote-wrapper"><label for="sn-31" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-31" class="margin-toggle"/><span
class="sidenote">Quignard Pascal, <em>La Haine de la musique</em>, op.
cit., p. 230<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>Pour peu qu’un son se joue on percevra le temps, le marqueur direct
de ce dernier serait le battement de l’horloge, métronome cadencé au
soleil. Dans le paysage, si la dimension temporelle est omniprésente,
elle se cadence différemment des notations normées. En habitant
l’espace, on ne divise pas le temps en heures et secondes, mais plutôt
en rythme avec les autres sons présents, chaque espace revêtant dans le
cycle des saisons et dans les rythmes du soleil et de la lune, des
aspects sonores différents. J’entends la nuit les grillons ainsi que le
bruissement d’une chouette, le jour il y aurait plutôt le vrombissement
des automobiles parcourant la départementale, mêlée au chant d’un
merle.</p>
<blockquote>
<p>La seule introduction possible du langage dans la musique est celle
des conjonctions, [mais, où, est, donc, or, ni, car]<span
class="sidenote-wrapper"><label for="sn-32" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-32" class="margin-toggle"/><span
class="sidenote">Nancy Jean-Luc, <em>À l’écoute</em>, op. cit.,
p. 43<br />
<br />
</span></span></p>
</blockquote>
<p>Si le son est conjonction, le visuel est les noms et le sujet est
lui-même, performant les verbes. Il y a donc bien une sorte de
<em>dynamique</em> son et image, composer un paysage en omettant le son
reviendrait à lui enlever des <em>connecteurs </em>, ce qui ne va pas
forcément ruiner la phrase « La mer, belle bleue », mais lui enlever une
composante fine de cette dernière « La mer, belle et bleue », « La mer,
belle car bleue ». Je m’avancerai et dirait que le sonore est de l’ordre
de la <em>ponctuation et de la diacritique </em>, le son souligne,
sur-signifie, transforme, retarde, rapproche, <em>respire</em>.</p>
<hr />
<p>[TRACK 06 – FieldReorder 01, Martina Lussi &amp; Tim Shaw]</p>
<blockquote>
<p>Toute vibration qui approche le battement du cœur et le rythme du
souffle entraine une même contraction <span
class="sidenote-wrapper"><label for="sn-33" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-33" class="margin-toggle"/><span
class="sidenote">Charles Daniel, <em>Gloses sur John Cage</em>, op.
cit., p. 53<br />
<br />
</span></span></p>
</blockquote>
<p>L’air comprimé et relâché, par les variations de pressions,
température et souffle, traverse et reforme un espace-son, l’air,
l’invisible dans le vide formel, charge des poumons vers le cœur, le
paysage exhale en continu ; nous inspirons son haleine, mélangeant notre
cadence à la sienne, au rythme scandé.</p>
<blockquote>
<p><em>Les mots forment chaîne dans le souffle. Les images forment rêve
dans la nuit. Les sons aussi forment chaîne le long des jours.</em>
<span
class="sidenote-wrapper"><label for="sn-34" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-34" class="margin-toggle"/><span
class="sidenote">Quignard Pascal, <em>La Haine de la musique</em>,
op.cit., p. 55<br />
<br />
</span></span></p>
</blockquote>
<blockquote>
<p>Nous sommes de l’eau, de la terre, de la lumière et de l’air
contractés, non seulement avant de les reconnaître ou de les
représenter, mais avant de les sentir. <span
class="sidenote-wrapper"><label for="sn-35" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-35" class="margin-toggle"/><span
class="sidenote">Deleuze Gilles, <em>Différence et répétition</em>,
Paris, PUF, 1968, p. 99<br />
<br />
</span></span></p>
</blockquote>
<hr />
<p>Les vagues c’est un peu la montée en tension du tranquille. Le va
vient incessant, le clapotis que l’on voit grimper en vague et qui alors
sous l’eau, fait roulement de tambour sourd. On voit alors la vague qui
monte, monte, gronde et puis s’enroule sèchement sur elle-même dans un
éclatement sonore et visuel (l’écume qui s’éparpille en diacritiques) et
tout cela retombe en bruissant vers vous jusqu’à mouiller les pieds. Le
reste de vague, insignifiant milli- puis micro- puis pico -mètre griffe
un peu le sable et couine fshhh, pauvre et s’écrase dans un bruit blanc,
laisse un silence bref, et de l’écume parfois.</p>
<p>La vague s’écrase dans le monde pour y revenir plus tard, elle
s’échoue sur le sable pour mieux le ronger, pour mieux sculpter le bord
de mer le <em>shore</em>, l’attaque de l’écume se situe dans son point
de rupture avec la roche où elle claque contre elle. L’attaque sonore de
la vague en haute mer se meut en un bruit sourd que seule la terreur
permet d’entendre. Le tangage énorme qu’elle crée participe à bouger
l’horizon, à rendre le paysage flou en nous supprimant toute possibilité
d’agir dans le mouvement.</p>
<hr />
<p>Se mou-voir dans l’espace, c’est fondre l’une dans l’autre des images
et des intensités sonores, et avec la vitesse les moduler. En courant,
je changerais la hauteur du passereau, je verrais en roulant les
garde-fous autoroutiers perdre leurs vis pour s’effilocher en une bande
grise.</p>
<blockquote>
<p>Il semble même qu’une part du spectacle réside dans sa
<em>dynamique</em>. C’est au cours d’un mouvement que peut-être apprécié
le jeu des ondulations et des perspectives changeantes.<span
class="sidenote-wrapper"><label for="sn-36" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-36" class="margin-toggle"/><span
class="sidenote">Desportes Marc, <em>Paysages en Mouvement</em>, Paris,
Gallimard, 2005, op. cit., p. 73<br />
<br />
</span></span></p>
</blockquote>
<figure>
<img width="350" src="../../BiblioIconoSono/videos/v.jpg">
<img width="350" src="../..//BiblioIconoSono/videos/vimeo_2.jpg">
<img width="350" src="../..//BiblioIconoSono/videos/vimeo_3.jpg">
<img width="350" src="../..//BiblioIconoSono/videos/vimeo_4.jpg">
<figcaption>
Charrière Julian, An invitation to disappear, 2018, captures d’écran de
vidéo, consulté en novembre, https://www.youtube.com/watch?v=0Tvb4E8CAmU
</figcaption>
</figure>
<p>Le paysage dans le déplacement, se déforme, en des fils, des chemins,
un élément glisse vers l’autre. La vallée est un chemin du ciel aux
rias, le son de l’eau de la ria se répercute dans la vallée et le sujet
écoutant perçoit l’eau et la vallée en lui-même. Ingold parle d’une
<em>danse de l’agentivité</em><span
class="sidenote-wrapper"><label for="sn-37" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-37" class="margin-toggle"/><span
class="sidenote">Ingold Tim, <em>Dance of Agency</em>, 2013, cité dans
Brown Steven D., Kanyeredzi Ava, McGrath Laura, Reavey Paula &amp;
Tucker Ian, « Affect theory and the concept of atmosphere »,
<em>Distinktion, Journal of Social Theory</em>, Volume 20,
pp. 5-24<br />
<br />
</span></span> On ne perçoit qu’une partie de la nasse et ses
enchevêtrements complexes de fils se compénétrant inlassablement
parviennent à tisser la globalité paysage dans laquelle chaque élément
peut ressurgir indépendamment. La maille, à la différence du réseau,
s’étire en puissance dans le temps, un nœud étant toujours possible,
tant qu’on aura a minima deux éléments flottants.</p>
<hr />
<blockquote>
<p>Les vents courent, volent, s’abattent, finissent, recommencent,
planent, siffle, mugissent, rient ; frénétiques, lascifs, effrénés,
prenant leurs aises sur la vague irascible. Ces hurleurs ont une
harmonie. Ils font tout le ciel sonore. Ils soufflent dans la nuée comme
dans un cuivre, ils embouchent l’espace ; et ils chantent dans l’infini,
avec toutes les voix amalgamées des clairons, des buccins, des olifants,
des bugles et des trompettes, une sorte de fanfare prométhéenne.<span
class="sidenote-wrapper"><label for="sn-38" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-38" class="margin-toggle"/><span
class="sidenote">Hugo Victor, <em>Les Travailleurs de la Mer</em>, II,
cité dans Murray-Schaffer R., <em>Le Paysage sonore, le monde comme
musique</em> (1977), Wildproject, « Domaine sauvage », trad. Sylvette
Gleize, 2010<br />
<br />
</span></span></p>
</blockquote>
