<h1 id="section-2.5-data-driven-and-touch-starved-landscape">Section 2.5 Data-driven and touch-starved landscape</h1>
<p><code>let analyse du système de lecture = contrôle</code> <code>if (analyse du système de lecture == contrôle){</code> <code>alert(vous formez l'image d'une main);</code> <code>alert(vous mettez le violet dans les soleils);</code> <code>alert(vous activez le point de vue d'un peronnage, vous projetez déjà des intentions, vous supposez déjà des souvenirs)}</code><a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a></p>
<hr />
<p>le paysage comme souvenir d'une émotion fugitive, qui nous remonte aux bords des lèvres, en fermant la bouche on tente de fixer cette sensation de vertige... une envie démiurgique de recréer ce qui a été perdu</p>
<hr />
<blockquote>
<p>I like the technical character of the raster images, [...] I like the impersonal, neutral, and manufactured quality of these images. The raster, to me, is a system, a principle, a method, a structure. It divides, disperses, arranges and makes everything the same. I also like it that enlarging the pictures makes them blurry and sets the dots in motion; I like that the motifs switch between being recognizable and being unrecognizable, the ambiguity of the situation, the fact that it stays open… In that perspective I think that the raster I am using does show a specific view, that it is a general situation and interpretation: the structure of our time, the structure of a social order, of a culture. Standardized, divided, fragmented, rationed, grouped, specialized.</p>
</blockquote>
<div class="figure">
<img src="../../BiblioIconoSono/Images/Sigmar%20Polke,%20Palmen,%201968.png" />

</div>
<p>https://www.sfmoma.org/artwork/98.816</p>
<hr />
<blockquote>
<p>Entendre est une manière de toucher à distance<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>The making of atmospheres is therefore confined to setting the conditions in which the atmosphere appears.<a href="#fn3" class="footnoteRef" id="fnref3"><sup>3</sup></a></p>
</blockquote>
<hr />
<p>Pour certains, le paysage serait équivalent au suc du réel dans lequel on plante goûlument les dents, dévorer (des yeux) la montagne, disséquer (des oreilles) la structure de l'espace ; on éprouve une <em>physicalité</em>. Mais les organes face (frontale) au flux numérique semblent ne plus savoir où porter les canines, on se perdrait dans un <em>stream</em>, on serait submergés, victime de dépréciation sensorielles <em>IRL</em>. Mais alors on oublie que la mâche c'est aussi le coeur et la tête et que la projection dans l'espace, bien que désarticulante, se voit restructurer temporairement nos manières de sentir. Je me retrouve alors à sentir la brise venant de mon écran et à mesurer le monde qui s'offre à moi.</p>
<hr />
<p>Parler des cailloux, de paréidolie et des coquillages (on y entend et voit l'horizon)</p>
<hr />
<blockquote>
<p>L'architecture de ténèbres demeure imperturbable. Certes, il est commun d'être couleur d'encre. Mais cette nuit, d'une espèce nouvelle, est partout exacte et construite, formée de flancs parallèles, de biseaux homologues, de justes médiatrices, d'angles inévitables. Une géométrie stricte proclame qu'elle n'est pas un néant à combler, encore moins un oubli à réparer, mais un ordre qui a ses lois et qui publie sa valeur d'ordre.<a href="#fn4" class="footnoteRef" id="fnref4"><sup>4</sup></a></p>
</blockquote>
<hr />
<p>regarder Parallel I-IV Harun Farocki</p>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>Elsa Boyer, Orbital, MF Editions<a href="#fnref1">↩</a></p></li>
<li id="fn2"><p>R. M. Schaffer, <em>Le paysage sonore</em>, etc.<a href="#fnref2">↩</a></p></li>
<li id="fn3"><p>Gernot Böhme, « The art of the stage set as a paradigm for an aesthetics of atmospheres », <em>Ambiances</em>, 10 February 2013, connection on 22 September 2020. <a href="http://journals.openedition.org/ambiances/315" class="uri">http://journals.openedition.org/ambiances/315</a><a href="#fnref3">↩</a></p></li>
<li id="fn4"><p>inconnue, à retrouver<a href="#fnref4">↩</a></p></li>
</ol>
</div>
