<h1 id="section-i---paysage-oeil-oreille">Section I - Paysage, oeil
&amp; oreille</h1>
<dl>
<dt>[Dicenaire 24mn]</dt>
<dd>
paysage espace lieu etc ce sont des éléments de langage pour lui
</dd>
</dl>
<blockquote>
<h4
id="noun-landscape-countable-and-uncountable-plural-landscapes">Noun:
landscape (countable and uncountable, plural landscapes)</h4>
<p>A portion of land or territory which the eye can comprehend in a
single view, including all the objects it contains.</p>
<p>A sociological aspect of a physical area.</p>
<p>A picture representing a real or imaginary scene by land or sea, the
main subject being the general aspect of nature, as fields, hills,
forests, water, etc.</p>
<p>The pictorial aspect of a country.</p>
<p>(computing, printing, uncountable) a mode of printing where the
horizontal sides are longer than the vertical sides</p>
<p>A space, indoor or outdoor and natural or man-made (as in “designed
landscape”) (figuratively) a situation that is presented, a scenario</p>
</blockquote>
<blockquote>
<h4 id="noun-soundscape-plural-soundscapes">Noun: soundscape (plural
soundscapes)</h4>
<p>An acoustic environment, a virtual/emotional environment created
using sound.</p>
<p>A soundscape composition, an electroacoustic musical composition
creating a sound portrait of a sound environment.</p>
</blockquote>
<p>On verra qu’outre la notion d’environnement et l’étymologie en -scape
qui semble les relier, les deux termes paraissent assez éloignés.
Pourtant nous les regrouperons ici sous l’appellation de paysage <a
href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a>. Non pas par praticité mais plutôt
car les deux termes gravitent autour de la notion (encore anglaise) de
<em>picturing</em>, qui signifie -traduction grossière - à la fois
imaginer, décrire et (se) représenter.<em>développer ici sinon ça vaut
rien</em></p>
<p>Où l’on perçoit une section d’un espace réel ou imaginaire, où on se
le représente à partir des percepts offerts. A travers principalement la
vue et l’ouïe.</p>
<blockquote>
<p>Percepetion as a representing act is ddistinguished from immersion in
the sensible ; it involves an anterior sorting out, presumes a directive
surge of consciousness and an intended object.<a href="#fn2"
class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></p>
</blockquote>
<p>Picture, en anglais, c’est donc la transmission d’un souvenir (à
priori) non-narratif, ne faisant pas anecdote en soi. Si la description
d’un lieu forme un récit, on n’y intègre pas forcvément les actions s’y
déroulant. On dépeint un espace arrêté, une portion délimitée de
celui-ci, par apposition mentale d’un cache (on pose une fenêtre)<a
href="#fn3" class="footnote-ref" id="fnref3"
role="doc-noteref"><sup>3</sup></a> mettant en avant un espace
perceptif. Tout l’enjeu de cette pratique du <em>picturing</em>,
soit-elle en puissance ou non, est non pas de projeter le paysage et ses
potentialités sensorielles, mais plutôt de (se) projeter dans les
ressentis dea rapporteurse de paysage.</p>
<blockquote>
<p>“[…] car un tableau ne représente pas une image vue à travers un oeil
: l’objet réel, tout comme l’objet peint, sont tous deux objets du
regard. Un tableau n’est pas image de la vision. […] Si la vue est
toujours vue de quelque chose, elle n’est pas vue d’elle même.<a
href="#fn4" class="footnote-ref" id="fnref4"
role="doc-noteref"><sup>4</sup></a></p>
</blockquote>
<p>La captation confine le paysage en un extrait choisi mais le paysage
réel, au sens où il est en continuité avec notre situation sensorielle,
s’offre d’une autre manière aux sens.</p>
<blockquote>
<p>[le paysage est] <em>un espace à la fois fini et infini, limité et
illimité</em></p>
</blockquote>
<hr />
<p><img
src="../../BiblioIconoSono/Images/wikimedia_spectrevisible.png" /></p>
<p><a href="https://www.youtube.com/watch?v=wbPclkhoXdE">spectre
audible</a></p>
<hr />
<hr />
<blockquote>
<p>Le paysage n’existe qu’en relation avec un sujet esthétique, il est
l’objet d’une <em>perception</em> et d’une <em>expérimentation</em>,
lesquelles sont médiatisées par toute une série de filtres culturels
variés<a href="#fn5" class="footnote-ref" id="fnref5"
role="doc-noteref"><sup>5</sup></a></p>
</blockquote>
<p>Un paysage retranscrit (car l’on est bien scribe face à un paysage)
se trouve inévitablement transformé par le prisme sensoriel dea scribe,
un accord de couleur, un réglage d’amplitude, un angle de captation
n’étant jamais objectif pour qui que ce soit. Quiconque retranscrit
soi-disant objectivement un lieu se retrouve confronté à sa propre
sensibilité, ses propres filtres. La posture du scribe ne va pas sans
celle de l’enlumineur, de l’artiste. Personne, même l’audio-naturaliste
lea plus chevronée ne pourra restituer une expérience réelle d’un
paysage. C’est la fameuse fenêtre du peintre, c’est le <em>picture</em>
anglais. L’objectivisme des Becher est tout autant un échec que celui
d’Ayn Rand, au sens que la réalité existe bel et bien au-delà de la
conscience mais qu’il est impossible, et non-souhaitable de vouloir
chercher à standardiser cette dernière, car l’expérience sensorielle
étant fondamontalement basée sur les points de perception individuels,
la collectivisation des ressentis n’appelle en aucun cas à l’édition
d’un standard affectif.</p>
<p>Un ciel sans nuage, en lumière “neutre” n’est pas souhaitable et se
forme en anti-thèse à la notion même de paysage. &gt;le point de vue est
ouvert sur une divergence qu’il affirme : c’est une autre ville qui
correspond à chaque point de vue, chaque point de vue est une autre
ville, les villes n’étant unies que par leur distance et ne résonant que
par la divergence de leurs séries, de leurs maisons et de leurs rues. Et
toujours une autre ville dans la ville. Chaque terme devient un moyen
d’aller jusqu’au bout de l’autre, en suivant toute la distance. [^6]</p>
<dl>
<dt>[Elsa de Smet 11:50]</dt>
<dd>
le paysage pour celui qui n’a pas vu permet de s’approprier par la
portion le tout/l’idée par la cognition liée à la vue
</dd>
</dl>
<p>La sonnance collective n’est pas et n’a pas à vocation à être
harmonieuse, elle résulte d’un chaos de timbres et d’amplitudes, de
couleurs et de masse. Le paysage consensuel n’est que celui fabriqué,
répété ad nauseam à travers différents mediums. L’identité se crée alors
dans la démultiplication aphone d’un élément standard. La différence
infime entre chaque reproduction contribue à machiner un objet-paysage.
Le Mont Blanc en est un parfait exemple, car seul l’alpiniste chevronné
ou les habitantes des alentours pourront témoigner d’une vision
particulière de ce site. Certains entendront les craquement du tain
tandis que d’autres en verront la silhouette par tout temps. Si l’on va
voir le Mont Blanc dans l’attente de ce que l’on a vu, on sera satisfait
car on aura re-connu l’endroit, mais toute la surprise et la sensation
paysagère résidera non pas dans la correspondance à l’image-paysage<a
href="#fn6" class="footnote-ref" id="fnref6"
role="doc-noteref"><sup>6</sup></a> mais bien dans l’agencement réel des
composantes attendues, où la combinatoire liée au temps est forcément
inattendue.</p>
<blockquote>
<p>Authentique, ce serait un paysage donné à un individu […], un bout de
nature découverte et non reconnue.[…] Il impliquerait en outre la
<em>présence synesthésique de tous les sens au lieu de la soumission
béate au diktat de l’oeil et à la sémantique de la vision</em>.[^16]</p>
</blockquote>
<hr />
<p>L’avènement du paysage étant le produit d’une perception, il est
aussi et surtout le produit de <em>régimes d’attention</em> de l’ouïe et
de la vue, qui deviennent alors, regard et écoute. Pour exemple on voit
un arbre mais on regarde les interstices et les jeux de lumière entre
les feuillages, ses noeuds. Ou encore on entend une voiture s’approchant
mais on écoute la cadence du moteur, la vitesse de rotation des roues,
la position de la source par rapport à nous.</p>
<p>On fait donc ici la différence dans chaque sens entre son état passif
et actif, J.-L. Nancy parle de “nature simple” et d’état “tendu,
attentif ou anxieux”.<a href="#fn7" class="footnote-ref" id="fnref7"
role="doc-noteref"><sup>7</sup></a> Cet état d’attention crée
immédiatement la différence entre un espace et un paysage, l’espace est
présent, l’individu en extirpe une nature paysagère par l’attention. Une
fois le processus cognitif-perceptif lancé le sujet mesure
esthétiquement tous les virons (ciel-terre, terre-mer, soleil-yeux,
vent-clapotis, cigales-grillons…). Ainsi le sujet non seulement est dans
l’espace mais fait exister (en son intérieur) les signaux de ce dernier.
Ainsi on ne voit pas et n’on entend pas le paysage, mais plutôt on
<em>le génère par l’écoute et le regard</em>. Ces états attentifs font
surgir le non-vu, le non-commun. La subjectivité est bien au coeur de
l’expérience paysagère.</p>
<p>Le paysage se présente donc comme une relation écologique, au sens où
l’on entretient une relation sensorielle avec l’espace et cette
attention sensorielle permet l’avènement pour nous du paysage. On peut
donc considérer la sensation paysagère comme une fascination vis-à-vis
d’une expérience dans un espace circonscrit par des seuils perceptifs à
travers une (in)certaine temporalité. Cette fascination n’est pas sans
rappeler celle convoquée par la sensation de sublime qui se trouve plus
être une sensation de vertige, de peur instinctive face à une immensité
nous surplombant<a href="#fn8" class="footnote-ref" id="fnref8"
role="doc-noteref"><sup>8</sup></a>, qui tétanise. Les cascades et les
montagnes dans ce répertoire, en tant que site font “impression”, mais
ce qui les rend <em>paysage</em>, c’est leur ancrage dans une réalité
géographique et perceptive.</p>
<blockquote>
<p>A model that understands the world, and cinema, to be made up not
primarily of objects, substances, structures or representations, but
rather of relational processes, encounters, or events<a href="#fn9"
class="footnote-ref" id="fnref9" role="doc-noteref"><sup>9</sup></a></p>
</blockquote>
<hr />
<p>Dans une démarche que l’on serait tenté de définir comme contraire à
l’objectivisme, Schaeffer et LMurray-Schaffer, chacun à leur manière ont
tenté de modifier les modalités d’écoute. Schaeffer par exemple au
travers d’une nomenclature : d’une part l’écoute quotidienne qui serait
purement fonctionnelle à visée informative, de l’autre l’écoute réduite
qui serait une appréciation du son “tel quel”, sans tenir compte des
informations qui en viennent. M.-S. lui aussi, entrainaît ses
étudiant·es à écouter les sons pour leurs qualités acoustiques
[<em>insérer une planche d’exercices de M.-S. par ex.</em>]. Cette
seconde manière d’écouter, très utile dans un contexte
audio-naturaliste, se révèle plus pernicieuse car elle cherche à sortir
le son de son contexte (ne serait-ce que temporairement) paysager. En se
concentrant sur un son particulier on oublie toute la chorégraphie dont
il fait partie. Les écologistes actuels, utilisant le son dans leurs
recherches ont compris à quel point était important les correspondances
entre sons.<a href="#fn10" class="footnote-ref" id="fnref10"
role="doc-noteref"><sup>10</sup></a></p>
<p><strong>articles audio-naturalistes?</strong></p>
<blockquote>
<p>Comme ce n’est pas par un acte distinct de l’esprit que nous
composons l’idée du timbre, il n’est peut-être pas juste de l’appeler
perception ; en percevant le timbre, nous ne mesurons rien. […]
L’intensité et le timbre sont des sensations immédiates, dans lesquelles
nous ne pouvons remarquer de complexité qu’en nous servant de l’analyse
extérieur.<a href="#fn11" class="footnote-ref" id="fnref11"
role="doc-noteref"><sup>11</sup></a></p>
</blockquote>
<p>Cette question du son-objet rejoint d’anciennes problématiques ayant
déjà marqués le monde de l’art sculptural et pictural. Joanna Demers
l’aborde dans son article<a href="#fn12" class="footnote-ref"
id="fnref12" role="doc-noteref"><sup>12</sup></a> en mettant en
perspective les travaux de Francisco Lopez et Toshiya Tsunoda avec les
sculptures de Donald Judd et Morris entre autres. Lopez notamment
affirme que tout travail de paysage sonore (<em>soundscaping</em>) se
doit de s’émanciper du couple cause-objet sonore. Il faut cherche à
supprimer par l’écoute (réduite), toute information localisatrice, il
écrase le son pour suivre le vent. Arrache le son au paysage pour en
faire un objet “à part”.</p>
<blockquote>
<p>Reduced listening also focuses so much attention on minute details of
sound that it can foster perceptual distortions. More fundamentally,
reduced listening <em>perpetuates the falllacy that there is one
universal listening experience untouched by culture</em>.<a href="#fn13"
class="footnote-ref" id="fnref13"
role="doc-noteref"><sup>13</sup></a></p>
</blockquote>
<p>[<em>plus loin une double page avec en face à face donald Judd et un
extrait de Wind[Patagonia]</em>]</p>
<p>L’instabilité des sources et des timbres sonores dans le paysage,
perpétuellement modulés par les aléas alentours en rend la notation et
l’extirpation de ces derniers de leur situation un arrachage, ne
parvenant à les ramener à un état étrange, celui d’une certaine durée
dans l’air.</p>
<hr />
<p>La perception et l’importance que chacun·e accorde au timbre d’un
environnement, crée des qualités de paysages différentes, la culture
propre à chaque communauté infuse dans le sujet et lui ouvre l’attention
vers <em>quelque chose de particulier</em>, d’avoir arpenter le paysage
inconsciemment l’on se retrouve presque partie intégrante de ce dernier.
La subtilité des timbres présentes dans un paysage sera perçue très
différement entre deux individus ayant appartenu à des contextes
culturels différents, créant des processus de perception et
d’appréciation sensoriels. Ainsi chacun·e des deux perçoit un autre
paysage, lui appliquant une grille de lecture propre. Le sensoriel
s’allie au culturel pour développer un narratif.</p>
<p>Une fois créé, le paysage particulier reste en nous, inscrit.
Accroché à nos oreilles et nos yeux, rémanence du souvenir. Taches
noires et acouphènes. Marqué·es au fer rouge on le reverra dans les
cartes postales, le ré-entendra dans le chant d’une moissoneuse.</p>
<hr />
<blockquote>
<p>Un jour viendra où nous saurons percevoir à la mesure de nos
souvenirs, où nous nous <em>ressouviendrons pour mieux ressentir</em><a
href="#fn14" class="footnote-ref" id="fnref14"
role="doc-noteref"><sup>14</sup></a></p>
</blockquote>
<hr />
<p>Le paysage prenant pour origine une perception sensible et attentive
fusionne avec le sujet, iel se retrouve non pas pénétré, mais résonnant
avec le paysage. Le coeur qui suit le rythme de la rivière et la peau
qui s’harmonise avec le soleil du Midi.</p>
<hr />
<p>Lors des balades d’été dans les vignes, le soleil frappait ma peau et
pour souffler un peu, j’allais m’asseoir à l’ombre de l’ancien four à
chaux. Une structure en pierre en ruine, laissant apparaître 8 murs, pas
de plafonds, les fours ainsi que l’arbre qui venait m’abriter. Les
cigales et la brise tendait tout l’espace ensemble, le bourdon le
remplissant et le vent faisait revivre quelques instant la terre,
bruissait dans l’arbre et quelques jours soufflait le calcaire des
pierres. La pendularité de cette balade de quelques kilomètres, réalisée
le plus souvent seul, à pied à vélo tissait les liens entre l’ancienne
bergerie, le bêlement des moutons parfois, le four à chaux comme “sites”
et les différentes pierres, le chemin, mes pas, la légère pente qui
menait à la vigne, les ronces, les cigales, les voitures qui passaient
plus loin sur la D30… Chaque élément se retrouvait à cet endroit afin de
reformuler d’une autre manière le paysage de ce lieu.</p>
<blockquote>
<p>D’une part il [le paysage] se structure, il s’organise, il se refuse
à moi dans son originelle altérité, il se singularise par des signes qui
nécessitent la plus grande attention. D’autre part, il
<em>s’atmosphérise, il devient une vibration, une odeur, une émotion
unique, il se mêle à moi comme s’il n’était pas distinct de moi</em>.<a
href="#fn15" class="footnote-ref" id="fnref15"
role="doc-noteref"><sup>15</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>[…] no matter how proximate, objects are always given across an
intervening space. Seeing acknowledges distance even while compensating
for it by bringin what is far off into visibilty.
<strong>(p. 188)</strong><a href="#fn16" class="footnote-ref"
id="fnref16" role="doc-noteref"><sup>16</sup></a></p>
</blockquote>
<p>Le paysage visuel relèverai alors de l’acte de regard, de mesure
esthétique des choses. Pas au sens du beau, mais plutôt dans le sens
d’une <em>appréciation sensible</em> de l’espace, de la distribution du
vide, des distances. Les différentes composantes visuelles permetteront,
par leur frontalité et leurs limitations, au sujet de sentir si telle
“vue” fait paysage. C’est ” L’expérience d’un morceau d’espace perçu
d’un coup “<a href="#fn17" class="footnote-ref" id="fnref17"
role="doc-noteref"><sup>17</sup></a>.</p>
<blockquote>
<p>Dans les instants le plus rare, on pourrait définir la musique :
<em>quelque chose de moins sonore que le sonore</em>. Quelque chose qui
<em>lie le bruyant</em> (Pour le dire autrement : un bout de sonore
ligoté (p.24)</p>
</blockquote>
<p>Le paysage sonore, a longtemps été considéré comme une façon musicale
d’écouter les sons de l’environnement, tout particulièrement car ces
bruits se lient, se répondent et s’entrechoquent. Si l’on a considéré le
paysage (le monde) comme musique, c’est car on a cru entendre un
orchestre alors. Pourtant plus simplement, chronologiquement l’orchestre
a écouté les paysages.</p>
<p>Si le bruyant est lié dans le paysage, il s’entrelace avec la
lumière, avec l’air ambiant, car dans leur complémentarité ils tissent
la mesure spatiale, couvre et découvrent l’espace, distribuent le sol et
le ciel. Le sol où s’arrêtent et se répercutent les sons, où la lumière
choit et le ciel d’où elle vient et d’où ils semblent descendre. Le
point de percept paysager est ancré par la gravité et se tend vers
l’infini horizontal, s’échappe en un point de fuite, au seuil acoustique
et visuel.</p>
<p>L’infini relève de l’arpège, de la gradation des sons allant de
l’étouffé au clair, du murmure à l’assourdissement, puis peut être de
nappes plus calmes. Tout cela advenant séparément, se recomposant dans
l’oreille, l’oeil et le coeur, nous laissant le loisir d’une autre
mesure paysagère. On perçoit alors une autre limite à l’infini, un autre
horizon, plutôt un tissu tendu de nous jusqu’au seuil du sensible.</p>
<blockquote>
<p>Le paysage, donc […], n’est pas une représentation de l’infini, mais
une mise en présence de l’infini.<a href="#fn18" class="footnote-ref"
id="fnref18" role="doc-noteref"><sup>18</sup></a></p>
</blockquote>
<blockquote>
<p>Le ciel limpide parmi les entrelacs de la vigne et des roses<a
href="#fn19" class="footnote-ref" id="fnref19"
role="doc-noteref"><sup>19</sup></a></p>
</blockquote>
<p>[Le paysage] entrelac du fini et de l’infini.</p>
<hr />
<blockquote>
<p>Sound converges on a potential listening point from every direction
[…]. The result is and <em>auditory array</em>, analogous to the optical
array. […] Reverberant sound is informative about the size and layout of
the surrounding environment.<a href="#fn20" class="footnote-ref"
id="fnref20" role="doc-noteref"><sup>20</sup></a></p>
</blockquote>
<p><img
src="../../whsop_g/Jupiter&#39;s_Aurora_-_November_5_1997_(31065425271).jpg" /></p>
<blockquote>
<p>sound provides information about <em>an interaction of materials at a
location in an environment</em>.<a href="#fn21" class="footnote-ref"
id="fnref21" role="doc-noteref"><sup>21</sup></a></p>
</blockquote>
<p>A noter que l’on ne peut simplifier l’espace que suggère le sonore à
une simple identité entre la hauteur d’une note et sa distance percue
avec le sujet écoutant. Par exemple, un ultrason très haut pourrait se
situer tout aussi loin qu’un tremblement sourd. L’information sensible
d’une source et de sa position nous renvoie à notre propre situation
dans l’espace, les opérations cognitives qui se succèdent nous
transportent dans l’espace. Un paysage se contstitue de subtils
déphasages des hauteurs et des volumes, permettant de s’identifier, la
multiplicité des timbres des différents sons traversant l’espace créent
le timbre propre au paysage en cet instant.</p>
<figure>
<img width="350" src="../../wshop_g/7.jpg"></img>
<figcaption>
Zach Liebermann, Horizons, 2022
</figcaption>
</figure>
<ul>
<li>Image Y. Dauby + Son Y. Dauby</li>
</ul>
<hr />
<blockquote>
<p>Light makes the thing appear by dissipating shadow so that objects
emerge against the backdrop of empty space, of a void from which shadow
has been disbursed ; the object appears to originate from nothingness
<strong>(p. 182)</strong><a href="#fn22" class="footnote-ref"
id="fnref22" role="doc-noteref"><sup>22</sup></a></p>
</blockquote>
<p>La vue sort alors des ténèbres les objets silencieux, le regard leur
distribue la distance, les mesure, les comprends. Si la vue atteste de
l’existence, le regard estime le rapport à soi. La proprioception prends
sa forme. Le paysage se matérialise dans la mesure d’objets, de leur
distance par rapport à soi ainsi qu’avec un seuil (<em>threshold</em>)
variant. Dehors, seul le ciel est en limite.</p>
<blockquote>
<p>[…] car le bruit ne provient pas de la région sereine du ciel.<a
href="#fn23" class="footnote-ref" id="fnref23"
role="doc-noteref"><sup>23</sup></a></p>
</blockquote>
<hr />
<p>L’oeil lui contracte l’espace, comprime les distances, déplaçant (
map() ) ces dernières sur le spectre coloré, renvoie un
<em>fisheye</em>. Le regard lui, les réinterprète, visualise les virons,
crée les contours aux formes et les retourne, les écrase et recrache un
diaporama.</p>
<p>Le <em>fisheye</em> grossit les limites, fait fuir l’horizon et
allonge les distances. L’écoute elle, écrase et redéploie
continuellement l’espace. Le son est traité pour nous recentrer
(audiopositionner) dans l’espace, raffermir les distances avec les
sources, affirmer leur présence, leur réalité. L’écoute décuple le
regard, lui soutire une mesure et la confirme, dans l’immobilité rajoute
le déplacement, dans le point de fuite rajoute la compression.</p>
<figure>
<img width="350" src="../../BiblioIconoSono/Images/Fallen Sky (2021), Sarah Sze, at Storm King Art Center, Mountainville, New York. Photos by Nick Knight.jpg"></img>
<figcaption>
Fallen Sky (2021), <em>Sarah Sze</em>, at Storm King Art Center,
Mountainville, New York. Photos by Nick Knight
</figcaption>
</figure>
<blockquote>
<p>Il n’y a rien dans le sonore qui nous renvoie de nous-mêmes une image
localisable, <em>symétrique</em>, inversée, comme le fait le miroir. En
latin le reflet se dit <em>repercussio</em>. L’image est une poupée
localisable.<a href="#fn24" class="footnote-ref" id="fnref24"
role="doc-noteref"><sup>24</sup></a></p>
</blockquote>
<p>Il faudrait prendre l’oreille comme un miroir des sons, une sorte de
dispositif sonifiant, qui renvoie les sons à eux-mêmes, qui les tord de
leur source dans la cave de l’oreille, les noues dans la cage de la
perception, les nerfs optiques surchargés. Le tympan déplace le son en
le faisant résonner et le cerveau le réinterprète. Il se dé-charge sur
le cerveau, lui laisse trouver l’où et le quoi alors que les yeux, les
cônes se sur-chargent, ne sous-traitent pas la vue. Tout est rendu
identifiable dès que découvert.</p>
<p>Lorsque l’on découvre un paysage, on prend le bout de terre et on le
dissèque, enregistrant physiquement toutes ses caractéristiques. Le
regard, pour peu que la lumière soit là, laisse alors de place à
l’imagination. Le faisceau visuel incide sur la forme et tend à la
circonscrire, à forcer les couleurs à se fixer à l’oeil, l’onde est
concentrée (coincée) dans la rétine. Le son (bruissement), caché
au-dessous des formes, vient parer, recouvrir le paysage mis à nu.</p>
<p>Le sonore, a-contrario du lumineux, rebondit dans le temps. Le mur du
son.</p>
<blockquote>
<p>Si nous consentions à établir à nouveau une opposition un peu forcée
entre le visuel et le sonore, nous dirions que le premier nous permet de
mieux distribuier et de mieux articuler le paysage tandis que le second
nous assure le plus souvent de son existence
<strong>(p. 82-83)</strong><a href="#fn25" class="footnote-ref"
id="fnref25" role="doc-noteref"><sup>25</sup></a></p>
</blockquote>
<p>L’oeil consent au chaos, y déniche des régularités, des lois,
l’oreille, est contrainte de perdre la trace de ce qu’elle a retranscrit
dés que le signal a été émis, le son n’existe qu’au présent.</p>
<hr />
<p><em>insérer passage edsmet ?</em></p>
<p>Le son crée le temps, rend le visuel <em>tactile</em><a href="#fn26"
class="footnote-ref" id="fnref26" role="doc-noteref"><sup>26</sup></a>,
car la vue prend alors vie, on s’éloigne du paysage silencieux - un
silence de mort - pour insuffler le mouvement depuis un point de
perception fixe. Si l’espace visuel immobile est considéré commez
<em>zone morte</em> alors la simple ouverture à l’écoute induit des
échelles, des <em>déplacements</em>, des <em>variations</em>, fade-in
&amp; out d’une voiture, bourdon de la rivière, un bang quelques rues
plus loin… Au bref, la vie. Le son-paysage fait en nous <em>sonner</em>
l’espace, le recompose en lui incorporant du temps, du mouvement. Même à
l’arrêt les sons et leurs sources semblent dessiner une toute autre
architecture, un tout autre rapport sensoriel.</p>
<blockquote>
<p><strong>S’absenter de l’environ n’est pas possible pour l’ouïe. Il
n’y a pas de paysage sonore parce que le paysage suppose l’écart devant
le visible.</strong> <em>Il n’y a pas d’écart devant le sonore.</em><a
href="#fn27" class="footnote-ref" id="fnref27"
role="doc-noteref"><sup>27</sup></a></p>
</blockquote>
<p>Le noise se glisse “au-dessus et au-dessous”<a href="#fn28"
class="footnote-ref" id="fnref28" role="doc-noteref"><sup>28</sup></a>
de l’entente, il prend l’interstice comme tangente. Ombre sonore. Il se
fond dans ce qu’on appelle le silence, il constitue la matrice même, la
matière noire que l’on cherche inlassablement renferme la même
potentialité que le bruissement de fond.</p>
<p>Le fond sonore est l’espace possible dans le temps.</p>
<blockquote>
<p>The background noise never ceases; it is <em>limitless, continuous,
unending, unchanging</em>. It has itself no background, no
contradictory. […]<a href="#fn29" class="footnote-ref" id="fnref29"
role="doc-noteref"><sup>29</sup></a></p>
</blockquote>
<p>Le paysage est vu comme arrêté, figé par l’huile et l’encre mais il
se trouve qu’il est inexorablement teinté par le temps, rien qu’une
photo, de par son diaphragme et sa vitesse d’obturation fera entrer
<em>un certain temps</em> dans l’appareil. La photo est une boucle
musicale.</p>
<blockquote>
<p>La photographie n’enregistre pas la réalité matérielle qui se trouve
devant l’objectif mais son aspect visible, déterminé par le point de vue
et le champ visuel à un moment précis et dans un éclairage donné. […]
[le photographe] s’expose à créer des <em>hiatus</em>, des téléscopages,
des juxtapositions fortuites, des condensations et <em>des lacunes
inattendues dans la logique de l’organisation spatiale</em>.<a
href="#fn30" class="footnote-ref" id="fnref30"
role="doc-noteref"><sup>30</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>Là où la présence visible ou tactile se tient dans un “en même temps”
<em>immobile</em>, la présence sonore est un “en même temps”
<em>essentiellement mobile</em>, vibrant de l’<em>aller-retour entre la
source et l’oreille</em>, à travers l’espace ouvert.<a href="#fn31"
class="footnote-ref" id="fnref31"
role="doc-noteref"><sup>31</sup></a></p>
</blockquote>
<hr />
<blockquote>
<p>chaque son, chaque bloc devient image. De son, <em>il vire en
bruit</em>.(p. 207)<a href="#fn32" class="footnote-ref" id="fnref32"
role="doc-noteref"><sup>32</sup></a></p>
</blockquote>
<blockquote>
<p>Penser le Temps - c’est penser l’identité de l’aller et du retour.
[…] dans le même trait <em>revenir</em>. (p.230)<a href="#fn33"
class="footnote-ref" id="fnref33"
role="doc-noteref"><sup>33</sup></a></p>
</blockquote>
<figure>
<img width="350" src="../../whsop_g/4.png"></img>
</figure>
<hr />
<p>Pour peu qu’un son se joue on percevra le temps, le marqueur direct
de ce dernier serait le battement de l’horloge, métronome cadencé au
soleil. Dans le paysage, si la dimension temporelle est omniprésente,
elle se cadence différemment des notations normées. En habitant
l’espace, on ne divise pas le temps en heures et secondes mais plutôt en
rythme avec les autres sons présents, chaque espace revêtant dans le
cycle des saisons et dans les rythme du soleil et de la lune, des
aspects sonores différents. J’entends la nuit les grillons ainsi que le
bruissement d’une chouette, le jour il y aurait plutôt le vrombissement
des automobiles parcourant la départementale, mêlée au chant d’un
merle.</p>
<p><em>FIELD REORDER START</em></p>
<blockquote>
<p>Toute vibration qui approche le battement du coeur et le rythme du
souffle entraîne une même contraction (p.53)<a href="#fn34"
class="footnote-ref" id="fnref34"
role="doc-noteref"><sup>34</sup></a></p>
</blockquote>
<blockquote>
<p><em>Les mots forment chaîne dans le souffle. Les images forment rêve
dans la nuit. Les sons aussi forment chaîne le long des jours.</em>
(p. 55)[^39]</p>
</blockquote>
<hr />
<blockquote>
<p>La seule introduction possible du langage dans la musique est celle
des conjonctions [mais, où, est, donc, or, ni, car]</p>
</blockquote>
<p>Si le son est conjonction, le visuel est les noms et le sujet est
lui-même, performant les verbes. Il y a donc bien une sorte de
<em>dynamique</em> son et image, composer un paysage en omettant le son
reviendrait à lui enlever des <em>connecteurs</em>, ce qui ne va pas
forcément ruiner la phrase “La mer, belle bleue” mais lui enlever une
composante fine de cette dernière “La mer, belle et bleue”, “La mer,
belle car bleue”. Je m’avancerai et dirait que le sonore est de l’ordre
de la <em>ponctuation et de la diacritique</em>, le son souligne,
sur-signifie, transforme, retarde, rapproche, <em>respire</em>.</p>
<p><a
href="https://superpang.bandcamp.com/album/fieldreorder-01">FieldReorder
01 - Martina Lussi &amp; Tim Shaw</a></p>
<blockquote>
<p>Nous sommes de l’eau, de la terre, de la lumière et de l’air
contractés, non seulement avant de les reconnaître ou de kles
représenter, mais avant de les sentir. <a href="#fn35"
class="footnote-ref" id="fnref35"
role="doc-noteref"><sup>35</sup></a></p>
</blockquote>
<h2 id="field-reorder-end"><em>FIELD REORDER END</em></h2>
<p>Les vagues c’est un peu la montée en tension du tranquille. Le va
vient incessant, le clapotis que l’on voit grimper en vague et qui alors
sous l’eau, fait roulement de tambour sourd. On voit alors la vague qui
monte, monte, gronde et puis s’enroule séchement sur elle même dans un
éclatement sonore et visuel (l’écume qui s’éparpille en accents et
virgules) et tout retombe ça bruisse vers vous jusqu’à vous mouiller les
pieds. Le reste de vague, insignifiant milli- puis micro- puis pico
-mètre griffe un peu le sable et couine fshhh, pauvre et s’écrase dans
un bruit blanc, laisse un silence bref, et de l’écume parfois.</p>
<hr />
<blockquote>
<p>Les vents courent, volent, s’abattent, finissent, recommencent,
planent, siffle, mugissent, rient; frénétiques, lascifs, effrénés,
prenant leurs aises sur la vague irascible. Ces hurleurs ont une
harmonie. Ils font tout le ciel sonore. Ils soufflent dans la nuée comme
dans un cuivre, ils embouchent l’espace; et ils chantent dans l’infini,
avec toutes le voix amalgamées des clairons, des buccins, des olifants,
des bugles et des trompettes, une sorte de fanfare prométhéenne.<a
href="#fn36" class="footnote-ref" id="fnref36"
role="doc-noteref"><sup>36</sup></a></p>
</blockquote>
<hr />
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>En français classique, on sépare les deux termes en
“paysage” et “paysage sonore”, le son se transforme alors comme une
béquille au terme original, et nous ne voudrons pas de ceci ici.<a
href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Edith Wyschogrod, <em>Doing before hearing : on the
primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>,
Paris, Jean-Michel Place, 1980<a href="#fnref2" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn3"><p>Anne Cauquelin, <em>L’invention du paysage</em><a
href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4"><p><em>Le miroir noir, enquête sur le côté obscur du
reflet</em>, p 80 Arnaud Maillet<a href="#fnref4" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn5"><p>Justine Balibar, <em>Qu’est-ce qu’un paysage ?</em>,
p. 8, 2021, ed. jsplus<a href="#fnref5" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn6"><p>Michael Jakob, Le Paysage<a href="#fnref6"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn7"><p>Jean-Luc Nancy, <em>A l’écoute</em>, p. 36, Galilée,
2002<a href="#fnref7" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn8"><p><em>SUBLIME - LES TREMBLEMENTS DU MONDE</em>, coll.,
C.POMPIDOU METZ, 2016<a href="#fnref8" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn9"><p>A. Ivakhiv, <em>Ecologies of the moving image: Cinema
Affect Nature</em><a href="#fnref9" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn10"><p>mettre la source ici. Il a notamment été noté que les
oiseaux en ville chantaient en effet plus fort que ceux présents dans
les milieux ruraux, ou encore que chaque espèce intercalait ses appels
par rapport à ceux d’autres espèces dans le même milieu. La durée d’un
son n’est alors pas indépendante de son environnement sonore.<a
href="#fnref10" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn11"><p>Lagneau, <em>Célèbres leçons et fragments</em>, Paris,
PUF, 1964, p. 200<a href="#fnref11" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn12"><p><em>Field Recording, Sound Art and Objecthood</em>,
Joanna Demers<a href="#fnref12" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn13"><p><em>Field Recording, Sound Art and Objecthood</em>,
Joanna Demers<a href="#fnref13" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn14"><p>Pierre Sansot, <em>Variations Paysagères</em>, p. 30,
Paris, ed. Klincksieck, 1983<a href="#fnref14" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn15"><p>Pierre Sansot, <em>Variations Paysagères</em>, p. 30,
Paris, ed. Klincksieck, 1983<a href="#fnref15" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn16"><p>Edith Wyschogrod, <em>Doing before hearing : on the
primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>,
Paris, Jean-Michel Place, 1980<a href="#fnref16" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn17"><p><em>Le paysage</em>, Michael Jakob, 2008, Infolio
éditions, p.38<a href="#fnref17" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn18"><p>Justine Balibar, <em>Qu’est ce qu’un paysage</em>, à
propos de la pensée d’Assunto, p.120<a href="#fnref18"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn19"><p>(Rolland, J.-Chr.,Buisson ard., 1911, 1343)<a
href="#fnref19" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn20"><p><em>What in the world do we hear? An ecological
approach to auditory event perception</em> - William M. Gaver<a
href="#fnref20" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn21"><p><em>What in the world do we hear? An ecological
approach to auditory event perception</em> - William M. Gaver<a
href="#fnref21" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn22"><p>Edith Wyschogrod, <em>Doing before hearing : on the
primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>,
Paris, Jean-Michel Place, 1980<a href="#fnref22" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn23"><p>Lucrèce, <em>De la nature</em>, VI, 96.<a
href="#fnref23" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn24"><p>Quignard, <em>La haine de la musique</em>, p.112<a
href="#fnref24" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn25"><p>Pierre Sansot, <em>Variations Paysagères</em>, p.82-83,
Paris, ed. Klincksieck, 1983<a href="#fnref25" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn26"><p>Edith Wyschogrod, <em>Doing before hearing : on the
primacy of touch</em>, dans <em>Textes pour Emmanuel Levinas</em>,
Paris, Jean-Michel Place, 1980<a href="#fnref26" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn27"><p>QUignard, haine de la musique p110<a href="#fnref27"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn28"><p>Daniel Charles, <em>Gloses sur John Cage</em>, p.93<a
href="#fnref28" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn29"><p>Cox, Sonic Unconscioous,<a href="#fnref29"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn30"><p>Peter Galassi, <em>Before Photography: Painting and the
Invention of Photography.</em> New York, MoMa, 1981 (trad. par M.
Desportes j’imagine)<a href="#fnref30" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn31"><p>Jean-Luc Nancy, <em>A l’écoute</em>, p. 36, Galilée,
2002<a href="#fnref31" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn32"><p>D. Charles Gloses sur J. Cage<a href="#fnref32"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn33"><p>QUignard, haine de la musique p110<a href="#fnref33"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn34"><p>Daniel Charles, <em>Gloses sur John Cage</em>, p.93<a
href="#fnref34" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn35"><p>Gilles Deleuze, <em>Différence et répétition</em>,
p. 99, Paris, 1968, PUF<a href="#fnref35" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn36"><p>Hugo,* Les Travailleurs de la Mer*, II<a
href="#fnref36" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
